[2019-12-21 18:29] NoXPhasma opened #1 "Does not pair with model 1708"
I have the model 1708 but it does not pair. The dongle goes into pairing mode, when I click the button on it and the controller does as well, but it never pairs.

It goes into pairing mode until it times out:
[code]

I've also tried to use a 2.4 channel, but it's the same. Please tell me if you need any more informations.

[2019-12-21 18:49] medusalix commented on #1
Please see if my latest commit fixes your issue. Pairing works with my controller now.

[2019-12-21 18:52] NoXPhasma commented on #1
Yes, pairing works now. Also thank you for doing this driver, great work!

[2019-12-21 19:13] NoXPhasma commented on #1
As your readme says, connection breaks on 5GHz but with 2.4GHz channels it won't pair.

[2019-12-21 19:13] NoXPhasma opened #2 "Mapping of X and Y buttons is mirrored"
The X and Y buttons are mirrored, X is recognized as Y and vis versa. I guess there is something mixed up in the code :)

[2019-12-21 19:15] medusalix commented on #1
Yeah, automatic channel selection is definitely needed. I'm taking a look at the pairing issue right now.

[2019-12-21 19:19] medusalix commented on #2
Buttons are mapped according to the Linux docs. So the DPAD is mapped using BTN_NORTH, BTN_EAST, BTN_SOUTH and BTN_WEST. Unfortunately, it looks like BNT_NORTH is [equivalent](https://github.com/torvalds/linux/blob/737214515d7965485c52bc5f869e57a6976cf216/include/uapi/linux/input-event-codes.h#L386) to BTN_X on Linux. I'm not sure which button scheme I should be following.

[2019-12-21 19:22] NoXPhasma commented on #2
The X and Y buttons definitely doesn't follow what the XBOX One S controller is mapped with xpad (wired), hid_microsoft (bluetooth) or xpadneo (blietooth). No matter what game/tool I use, it's wrong in all of them.

[2019-12-21 19:28] medusalix commented on #2
Should we just ignore the docs and map the buttons using BTN_A, BTN_B, BTN_X and BTN_Y?

[2019-12-21 19:29] medusalix commented on #1
It pairs for me just fine even on 2.4 GHz (channel 1).

[2019-12-21 19:33] NoXPhasma commented on #2
I think we should go the same route as xpadneo and xpad go. As this would make sure it's recognized the same way and we don't run into any issues.

I've also just found out that the DPAD won't be recognized in games as well. You've mapped it as buttons 11-14, but apparently with xpad it's mapped as axes 6 and 7.

[2019-12-21 19:37] NoXPhasma commented on #1
I've tried 10 and 5 which don't work, but channel 1 works for me as well. Is this a limitation of the dongle?

[2019-12-21 19:40] medusalix commented on #1
I really don't know 😄. I'm going to make channel 1 the default because it seems like that's the most reliable one.

[2019-12-21 20:13] NTMan opened #3 "Proton/Wine games make controller vibrate in full force"
Something went wrong. After launching the game, The Surge XBOX Elite Controllers amicably began to vibrate in full force.

Demonstration: https://youtu.be/_VevGQK8jAA

[Kernel log](https://gist.github.com/NTMan/51cfee61d26f3bdb82d5c6383ce2aade)

P.S. All games which ran under Proton can only vibrate. Native games didn't see the gamepad.

[2019-12-21 20:22] NoXPhasma commented on #2
Your commit (https://github.com/medusalix/xow/commit/502abcf6698e0fc91129c6e9e2dfc4c82bf4188e) fixed the wrong Y and X mapping. Now only the DPAD is left and the controller works as intended :)

[2019-12-21 21:04] medusalix commented on #2
The latest commit should've now fixed the DPAD.

[2019-12-21 21:06] #1 closed

[2019-12-21 21:08] NoXPhasma commented on #2
It does, the mapping is now as expected.

[2019-12-21 21:08] #2 closed

[2019-12-21 21:17] nadiadavis commented on #3
The readme states that Elite controllers are currently unsupported.

[2019-12-21 21:20] Morganamilo opened #4 "Audio"
Does this driver support audio? Or are there plans to?

[2019-12-21 21:24] medusalix commented on #4
I've looked into audio while developing the macOS version of this driver. It doesn't seem too complicated, but I'm not sure how to implement Linux audio devices in user mode.

[2019-12-21 21:28] medusalix commented on #3
Yes, that's right. If I remember correctly, the elite controllers use a slightly different protocol than the normal controllers, which is not supported by this driver. I might add support in the future though.

[2019-12-22 01:38] Der-Eddy opened #5 "Controller model 1537 compatibility"
As requested in the README.md I did some packet captures with my 2016 Xbox One (S) Controller (Model 1708) and my bulky usb proprietary Microsoft dongle (Model 1713).

Captured on Arch Linux with xpad/xow via usbmon/Wireshark:
[usbmon3 - Microsoft Corp. Wireless XBox Controller Dongle.zip](https://github.com/medusalix/xow/files/3992038/usbmon3.-.Microsoft.Corp.Wireless.XBox.Controller.Dongle.zip)

[2019-12-22 02:16] Hielyr commented on #3
I would love to see support for the elite controllers. I have an Elite v2 controller, so if it would be at all helpful for me to provide any information, I'd be more than happy to do so!

[2019-12-22 03:08] TheVetter commented on #5
I also just tested my controller on arch linux I was able to play borderlands 2 just fine for the 30 minutes I played.
Controller model 1697.

This is such a great project would love to help

[2019-12-22 07:11] NTMan commented on #3
Vibro of usual XBOX controller going mad too
Demonstration: https://youtu.be/Drdp2f5xARU

[2019-12-22 07:56] dragon212c commented on #5
Hello! (I'm from the reddit post)
At the moment I'm not at the computer today but I did some trys last night and on arch Linux looks like my dongle was detected but produced no results, like it didn't connect to controller or produce led sign saying its trying to connect, now something I know for sure is, my dongle isn't the original so we might be also dealing with clones! I'll do more testing wh

[2019-12-22 09:46] NTMan opened #6 "Please add battery level measurements via "upower" mechanism"
This allows seeing the power charge level of the gamepad in DE.

![Screenshot from 2019-12-22 14-46-28](https://user-images.githubusercontent.com/200750/71320201-d8a5ea80-24c9-11ea-9ea9-97100545d294.png)

[code]

[2019-12-22 12:11] medusalix commented on #3
@NTMan It seems to be an issue with Proton games, I'll need to take a closer look at this.

[2019-12-22 14:30] medusalix commented on #5
@TheVetter Good to know 👍. I changed the model 1697's status to **working** in the README.

@Der-Eddy So your old dongle worked correctly with this driver? That's interesting because we had an [issue ](https://github.com/360Controller/360Controller/issues/947) with the macOS version of this driver where the old dongle didn't work, so I assumed it wouldn't work on Linux either.

[2019-12-22 15:41] John-Gee commented on #3
I have the same issue on a 1697 model with pure Wine, not using Proton or Steam.

[2019-12-22 16:23] TheVetter opened #8 "It's already in the AUR"
I was going to package this in the AUR but someone beat me: https://aur.archlinux.org/packages/xow-git/

The README should be updated with the AUR package. I can send a PR later if you'd like

[2019-12-22 18:03] medusalix commented on #8
Added to the README in [`297efa4`](https://github.com/medusalix/xow/commit/297efa4a1484463033024ca51bc07661ddeb1823).

[2019-12-22 18:03] #8 closed

[2019-12-22 18:33] medusalix commented on #6
I spent the last few hours figuring out how to add a device to UPower. Unfortunately, it looks like either the UPower daemon (`upowerd`) or xow can be connected to UPower at the same time. When xow connects, you lose the power status of all your other connected devices. Providing battery information from user space is not trivial at all...

[2019-12-22 20:27] PopeRigby opened #9 "Package as a Flatpak?"
Would it be feasible to package this as a Flatpak?

[2019-12-22 20:40] PopeRigby opened #10 ""double free or corruption (fasttop)double free or corruption (fasttop)""
I'm getting this output from my terminal when running `sudo xow`:

[code]

Model: 1708

[2019-12-22 20:42] NoXPhasma commented on #3
As I already stated on [Reddit](https://www.reddit.com/r/linux_gaming/comments/edusyx/linux_driver_for_the_new_xbox_one_wireless_dongle/fbouq2c/), for me the Gamepad rumbles very hard at launch on Proton games as well and then the rumble won't work in the game. This behaviour is not present in native or games running with Wine, in which the gamepad works perfectly fine.

This is with model 1708.

[2019-12-22 21:35] medusalix commented on #9
It would definitely be possible to package it as a Flatpak, the [app guidelines](https://github.com/flathub/flathub/wiki/App-Requirements#desktop-integration) for the Flathub however say that they intend to distribute desktop applications and not CLI programs.

[2019-12-22 21:40] PopeRigby commented on #9
That's annoying, although having it as a Flatpak would still make it easier to distribute. You would just have to distribute it from somewhere else if Flathub didn't except it.

[2019-12-22 22:20] denharad commented on #5
I have a bulky adapter, model 1713
Worked fine for a quick arcade game I fired up. Seemed to get some random vibration sent through during game launch but that may have been the game. Pretty sure the controller & adapter were already paired as it picked the controller up immediately when powered & noted it when I turned it back off. Let me know if there is a good way to test all the functionality

[2019-12-22 22:34] dragon212c commented on #5
@medusalix I think I have the xbox one original controller the bone stock one!
I should have some free time tomorrow and I will see what I can do!

[2019-12-22 23:29] offalynne commented on #5
1697 and 1708 paired and working correctly with bulky dongle

[2019-12-23 00:56] Der-Eddy commented on #5
@medusalix jop Bulky adapter model 1713 working under Linux with Xbox Gamepad 1708
I even updated my Gamepad firmware to version 4.8.1923.0 on Windows and it still works, if thats matters at all anyway
though I get the same bug as in #3 using the latest commit 297efa4 in Proton/Wine games, native games works completely fine

[2019-12-23 06:04] andreashuetter opened #11 "SteamOS"
How can I build this on SteamOS?

At my first try it complained that the command "git" was not found. So I did a

`sudo apt-get install git`

Now I am getting this:

[code]

[2019-12-23 06:12] offalynne commented on #11
you can ignore the git error but you need to update g++: `sudo apt install build-essential`

[2019-12-23 08:18] andreashuetter commented on #11
Hi,

thanks for you help, but unfortunately it still doesn't work:

[code]

To me, it seems that GCC / G++ in the SteamOS Repository is still too outdated for the xow sources, even after sudo apt install build-essential:

[code]

Is there anything I could do (assuming that I want to stay on SteamOS and not install any other OS on my Steam Machine)?

[2019-12-23 11:06] medusalix commented on #11
I've just made some changes to make xow compatible with C++11 (which should be supported even by g++ 4.8). You should be able to build it now.

[2019-12-23 11:24] andreashuetter commented on #11
Thank you, this is my output now (I am using g++ 4.9), the compilation process is going a little bit further now, but still spits out an error:

[code]

[2019-12-23 11:33] medusalix commented on #11
It seems like `std::put_time` was not [implemented](https://stackoverflow.com/a/14137287) until g++ 5.0. You could just remove the line where it's failing (it's just for printing out the time when logging occurs).

[2019-12-23 11:44] andreashuetter commented on #11
OK, I just commented this line out in utils/log.cpp
`        //stream << std::put_time(&localTime, "%F %T");`
as you suggested, and now it compiles!

But when I plug in my dongle and launch the xow executable, it crashed immediately with a segmenation fault.

`sudo dmseg` gives the following output:
[code]

I thought the firmware.bin that is included in the xow sources would contain the approbriat

[2019-12-23 13:08] medusalix commented on #11
Yes, that's absolutely correct. The output in `dmesg` is actually related to Linux' built in `mt76` kernel driver. It conflicts with xow, leading to its crash. Please try adding this piece of code right **before** the [call](https://github.com/medusalix/xow/blob/059e72298933b5ace91ab353ac0ecf3bc29ff19d/dongle/usb.cpp#L66) to `libusb_claim_interface`:

[code]

[2019-12-23 13:20] medusalix commented on #9
I think it's *pretty easy* to build it yourself (literally 3 commands). Feel free to create and publish a Flatpak and I'll add the link to your package to the README 😃.

[2019-12-23 13:25] medusalix commented on #5
Thanks for all of your feedback, I've update the README accordingly. It looks like the model 1537 is currently broken (with the old dongle). I'd suspect this is related to the controller and not the dongle (additional confirmation would be great).

[2019-12-23 14:12] andreashuetter commented on #11
Well, for some reason it still does not work.

I also added

`libusb_set_auto_detach_kernel_driver(handle, true);`

`in dongle/usb.cpp, just before error = libusb_claim_interface(handle, 0);`

Then I did
[code]

again to be sure to have everything in a clean state.

But I get this as a result:
[code]

Note: I tested with both of my dongles (0x02e6 aka the old AND bulky one, and 0x02fe aka the new

[2019-12-23 14:18] medusalix commented on #11
Please run xow in the foreground (and make sure the service is stopped), build it with `BUILD=DEBUG` and post the logs.

[2019-12-23 14:23] andreashuetter commented on #11
OK, I did, but it doesn't produce any additonal logs:

[code]

It just crashes after printing "Dongle plugged in" and the return code is 139.

[2019-12-23 14:42] andreashuetter commented on #11
I made some additional tests on my Desktop PC (running Manjaro Linux 18) and there I got the new, smaller dongle to run (even without the above mentioned SteamOS specific workarounds):

[code]

The older, bulkier one crashes on Manjaro with
[code]

On SteamOS still, with both types of dongles I don't get far:
[code]

[2019-12-23 14:45] medusalix commented on #11
I think the version of `libusb` you have installed on SteamOS probably contains some kind of bug. You should probably try to get a newer version.

[2019-12-23 14:58] andreashuetter commented on #11
Which version of libusb would be appropriate for xow?

On SteamOS initially when I tried to compile I got the message "libusb.h" not found, so I installed

`sudo apt-get install libusb-1.0-0-dev`

Maybe that version is outdated.

On Manjaro 18 on the other hand I didn't need to install libusb, because it was already there. But when I perform a `find` command to determine which version is present t

[2019-12-23 15:09] medusalix commented on #11
That's not the actual version of the package though. You should run `dpkg -s libusb-1.0-0-dev` to see the installed version. I'm running libusb 1.0.23-1.

[2019-12-23 15:28] andreashuetter commented on #11
OK, seems that SteamOS has libusb 1.0.19-1.
[code]

What's the best way to obtain a newer version if this is the only version in the SteamsOS repository? Download the sources from https://github.com/libusb/libusb and compile them manually?

[2019-12-23 15:36] medusalix commented on #11
As SteamOS is based on Debian, you could try to add the Debian package repository to your system (no idea how to do this). Oh, and by the way, libusb 1.0.19 is around [5 years](https://github.com/libusb/libusb/blob/b454b9a4d3f9b55ea26cd28c8bfe4dc547b6e1cb/ChangeLog#L78) old 😄.

[2019-12-23 15:44] dragon212c commented on #5
@medusalix I cant seem to get the dongle to go into sync mode so I cant test if the controller is the issue or not, cant really confirm.

[2019-12-23 18:02] andreashuetter commented on #11
I have good news!
After downloading the latest version of libusb from https://github.com/libusb/libusb and compiling it manually I was able to get xow to run on SteamOS and it also works with BOTH of my dongles (the older bulky one, and the new smaller one).

Strange thing, though, is that after rebooting the machine it does not work anymore. The LED is constantly glowing during the reboot process

[2019-12-24 03:20] zypangpang commented on #3
Same here. With proton games, the Gamepad rumbles very hard at launch, but in my case the vibration still works in the game but still in full force.

[2019-12-24 05:24] NoXPhasma commented on #3
I've updated the firmware of my controller to version 4.x and now rumble works in Proton games as well. If anyone else experiences no rumble in Proton games, I suggest to update the controller firmware (a XBOX One console or Windows is required though).

[2019-12-24 21:12] Der-Eddy commented on #11
Yea because SteamOS is based on Debian 8 Jessie (latest is Debian 10 Buster), which is already 5 years old
unfortunately Valve doesn't really update it anymore

there are also some weird issues due to the really old Debian version like some newer games not working (e.g. Dead Cells, Ruiner) due to the old glibc version or you loose potential performance improvements because of the very old nvidia d

[2019-12-25 01:34] rwilliams opened #12 "Elite Wireless Support (1698)"
I have the Original Elite Wireless and I'd be more than happy to test.

[2019-12-25 01:52] PopeRigby commented on #12
Why did you close this?

[2019-12-25 01:54] rwilliams commented on #12
It seems like it's already a pretty well known limitation after looking at the other threads. I'll re-open though.

[2019-12-25 01:54] PopeRigby commented on #12
Yeah. You should leave it open so we can track the issue.

[2019-12-25 09:18] pmiddend opened #13 "Running without root"
Is this possible at all? It'd be safer if the service didn't need root, but just some privileged user.

[2019-12-25 11:12] medusalix commented on #13
You could try creating an `udev` rule that changes the permissions of `/dev/uinput`. That seems to be the way [`Steam`](https://wiki.gentoo.org/wiki/Steam_Controller#Manual_udev) and [`python-uinput`](https://github.com/tuomasjjrasanen/python-uinput/blob/master/udev-rules/40-uinput.rules) solve this issue.

[2019-12-25 12:37] pmiddend commented on #13
@medusalix Ah, thanks for the input. I've rewritten the service accordingly.

[2019-12-25 12:37] #13 closed

[2019-12-25 18:15] medusalix commented on #11
@Der-Eddy Thanks for the writeup, I'm sure this will help people with similar issues in the future.

@andreashuetter Awesome 😃. I've pushed a commit (d0341e42d67344ffb4a944c130675ff366d27220) that should fix your reboot issue.

[2019-12-25 18:15] #11 closed

[2019-12-25 18:54] andreashuetter commented on #11
Thanks a lot, but there are 2 issues:

1. To compile the new version it was necessary again to edit utils/log.cpp and comment out the line
`stream << std::put_time(&localTime, "%F %T");`
It is quite annoying to manually comment out this particular line every time I want to test a new version of xow.
Would it be possible to use strftime instead of put_time (as suggested here https://lab.louiz.org/l

[2019-12-25 19:06] medusalix commented on #11
1. I don't want to go back to raw C strings just to make `strftime` work (and hardcode the string length). I think C++11 is a reasonably old standard to tailor the code to. You could always make yourself a git `patch` and apply that whenever you run xow.

2. I'm not sure if that's even needed anymore. I only assumed it would solve your problems, please try running xow without it.

[2019-12-25 19:45] andreashuetter commented on #11
Well, I made some addtional tests now.

With the new (smaller) dongle the reboot issue sems to be fixed now. Great work!
Even the line
`libusb_set_auto_detach_kernel_driver(handle, true);`
doesn't seem to be needed anymore in dongle/usb.cpp.

But the older, bulky dongle doesn't ssem to work reliably with the latest version of xow anymore. I will do more tests with the current version and the previ

[2019-12-25 20:05] andreashuetter opened #14 "Startup issues with the old dongle"
Did more testing now, as promised. I am not quite sure what the reason is, but sometimes it happens that xow fails on startup (exit status=255), but if I re-start it later then it works:
[code]
So far this only happened with the old bulky dongle (and not always), but until now never with the new small one.

[2019-12-25 20:06] medusalix commented on #3
I've removed the rumble of the triggers in the latest commit. Rumble in native games (like Broforce) feels very similar to their Windows counterparts now. This is the way `xpad` treats the rumble.

[2019-12-25 20:32] NoXPhasma commented on #3
This is much better indeed. Maybe you can take a look into the xpadneo code, how the trigger rumble is done in it.

[2019-12-25 21:57] medusalix commented on #10
Could you please run xow with [`valgrind`](https://valgrind.org/)? This should tell you exactly where the double free is occurring.

[2019-12-25 22:02] medusalix commented on #14
Does adding the `libusb_set_auto_detach_kernel_driver` line make it work reliably again?

[2019-12-26 01:16] John-Gee commented on #3
Just in case, I tried again, it still rumbles in full force from launch till closing a game in Wine.

[2019-12-26 01:17] NoXPhasma commented on #3
Have you tried to update the firmware of your controller?

[2019-12-26 03:51] John-Gee commented on #3
I have not, I don't have Windows to try.
It's likely the controller never got updated before it was given to me.
Is there a way to do it from Linux?

[2019-12-26 04:02] NoXPhasma commented on #3
You can download a Windows 10 VM image [1] legally for free, then passthrough the gamepad/dongle. Then install the Xbox accessories app with the Windows store and update the firmware. I have not done it this way, but it should work.

[1] https://developer.microsoft.com/windows/downloads/virtual-machines

[2019-12-26 07:06] NTMan commented on #3
![Screenshot from 2019-12-26 12-01-08](https://user-images.githubusercontent.com/200750/71463346-e9ab7000-27d7-11ea-923e-dc16b68726ac.png)

In my case with firmware 4.8.1923.0 I still observed this issue.

[2019-12-26 09:01] andreashuetter commented on #14
Not really.

To me it looks like some kind of timeout issue or something similar. As if sometimes the driver gets started to early on system startup. Perhaps it could be sufficient to perform a few seconds delay on initializiation?

[2019-12-26 11:38] medusalix commented on #14
It seems to be a configuration/hardware issue, as I found a nearly identical [topic](https://bbs.archlinux.org/viewtopic.php?id=244769) concerning this error on the ArchLinux forums. The open source driver for the Microsoft Kinect had a [similar issue](https://github.com/OpenKinect/libfreenect2/issues/216). Running xow with `LIBUSB_DEBUG=4` could give some insights about the error (and you should

[2019-12-26 14:59] John-Gee commented on #3
I had a VM already setup so I tried, but I've spent a couple hours and so far only once did XBox accessories see the controller, and of course it had to fail the update, every other time it asks me to plug in a controller. Not sure what I'm missing, but based on above I don't know if it's worth looking more into that.

[2019-12-26 15:02] NoXPhasma commented on #3
The firmware Version looks like the latest. It might be actually the different model version which is causing this.

For me it only rumbles when WINE starts and ends for 3 seconds, no matter if it's a game or a WINE application. With Proton it only rumbles on launch. However, with WINE the rumble is stronger than with Proton.

[2019-12-26 18:52] andreashuetter commented on #14
`dmesg` prints only the already well-known messages about the missing firmware (which  can be ignored, as xow contains it's own firmware for the xbox one wireless dongles).
[code]

`LIBUSB_DEBUG=4` doesn't give much new information:
[code]
[code]

But it seems that my thinking that it could be some kind of timeout issue was actually correct, because inserting a 5 seconds delay before the initializ

[2019-12-26 19:22] PopeRigby commented on #10
I tried turning on my controller, and it just kept blinking without pairing, so I pressed the pairing buttons on both the controller and dongle, and it still just kept blinking. Here's what the terminal outputted when I was doing all of this
[code]

[2019-12-26 21:01] medusalix commented on #3
I might have fixed this problem (while reading through the source code of [`ff-memless`](https://github.com/torvalds/linux/blob/master/drivers/input/ff-memless.c). Please see if the rumble behaves correctly when running the modified [`rumble`](https://github.com/medusalix/xow/tree/rumble) branch.

[2019-12-26 21:07] medusalix commented on #10
Some things that might be of importance:

- What version of the dongle are you using?
- Is the firmware of your controller up-to-date? If not, please update!
- Have you tried changing the WLAN channel?

[2019-12-26 21:20] NTMan commented on #3
xow now crashes: https://pastebin.com/gmXAPv8e

[2019-12-26 21:29] NTMan commented on #3
And yes, controller not rumble, but it does not rumble also at the moments when rumble should be (present when controller connected by wire)

[2019-12-26 21:41] medusalix commented on #3
@NTMan Oops, made a little logic error (should be fixed). Not sure about the crash though...

[2019-12-26 22:08] NoXPhasma commented on #3
It works for me in Wine, Proton and Native without any initial rumble. I need to do more testing, as I have currently the feeling that the rumble feels less intense as usual. Also for some reason the rumble won't work in Steam games (Native and Proton) once I exit the game and start a game without reconnect the gamepad. This was not the case with the default branch.

[2019-12-27 01:39] John-Gee commented on #3
The rumble branch works for me. I quickly compared it with wired, and with a Wii U Pro controller in Monster Boy and it seems about the same.

I've had no issues with restarting a game, it still works fine.

Thank you very much!

[2019-12-27 07:20] NoXPhasma commented on #3
You are right, I compared it wired and wireless as well and it is the same. Most probably I just got used to the intense rumble of the main branch.

[2019-12-27 08:08] NTMan commented on #3
Good job, the commit d56ce577943e6d0f70710892f1f861b49f592bbe fix problem with not working rumble.

But crash still here.
How reproduce:
1. Pairing gamepad with xow
2. Connect wired (here would disconnected wireless connection)
3. Unplug wired (here expected reconnect wireless connection, but instead we have crash)

[2019-12-27 08:12] NoXPhasma commented on #3
I followed your list and it did not crash for me with model 1708.

[2019-12-27 08:28] NTMan commented on #3
Demonstration: https://youtu.be/6obtRp7PcLc

[2019-12-27 08:33] John-Gee commented on #3
No crash here following this list either.

[2019-12-27 11:09] medusalix commented on #3
@NTMan Please see if the newest commit fixes your issue.

[2019-12-27 12:00] NTMan commented on #3
yes, no crashes observed on commit 28a51c4e53e37d41d4e39ddc71dd909818963c60

The last problem that I am observed when plug wire on the fly it infinitely reiteration last action.

For example:

1. Paring gamepad with xow.
2. Tilt stick to any direction.
3. Plug wired to the gamepad.

Demonstration: https://youtu.be/BpcJbzHW0UY

[2019-12-27 12:03] Hielyr commented on #12
Right. It's a feature request, not a bug.

[2019-12-27 19:15] PopeRigby commented on #10
The slim version
![xboxonedongle](https://user-images.githubusercontent.com/20866468/71529061-b3cdc080-2897-11ea-9df2-a5b1520adb82.jpg)

Yep, it is.

How would I do that?

[2019-12-27 19:40] medusalix commented on #10
It's defined in the Makefile. The list of channels is in mt76.h.

[2019-12-27 20:47] PopeRigby commented on #10
Which channels do you suggest I try?

[2019-12-27 20:54] medusalix commented on #10
Channel 165 is working for me (although it doesn't have a great range).

[2019-12-27 21:33] medusalix commented on #3
@NTMan Are you running `xpad` on your machine? I assume it reconnects over USB once you plug it in and `xpad` doesn't reset its input on connection.

[2019-12-27 23:47] samueloph opened #15 "License and source of firmware.bin"
Hello,

I'm working in the packaging of xow for Debian and would like some clarification about the file `firmware.bin`.

Could you explain where/how did you get `firmware.bin`?

I'm mostly interested in its source code and license.

Beware that if you don't own the file and the licensing, you need to clarify it, otherwise it's as if you were saying that the file is owned by you and licensed under

[2019-12-28 01:22] PopeRigby commented on #10
It seems to be working now. Maybe I wasn't pairing correctly, or maybe channel 1 doesn't work. I'm going to test that.

[2019-12-28 01:24] NoXPhasma commented on #3
I'm not entirely sure, but I think [Ori and the Blind Forest Definitive Edition](https://store.steampowered.com/app/387290/Ori_and_the_Blind_Forest_Definitive_Edition/) makes use of `ff_effect.direction`. At least the rumble feels much stronger now with the latest commit, especially around the triggers, which now even make sound due to the rumble. And it would make sense, as it's a Microsoft Studi

[2019-12-28 01:25] PopeRigby commented on #10
Nope, channel one seems to be working too. Maybe it was a problem with the AUR package.

[2019-12-28 11:24] medusalix commented on #15
Thanks for bringing that question up. The `firmware.bin` was actually copied from my Windows machine (`C:\Windows\System32\DriverStore\FileRepository\mt7612us_rl.inf_amd64_75ab4556628c9849\FW_ACC_00U.bin`). I've found two projects on GitHub that share firmware for similar Mediatek chipsets ([`openwrt`](https://github.com/openwrt/mt76/blob/master/firmware/LICENSE) and [`linux-firmware`](https://git

[2019-12-28 11:27] medusalix commented on #10
I'm glad that it's working now 😃. Please reopen if that error occurs to you again.

[2019-12-28 11:27] #10 closed

[2019-12-28 20:53] medusalix commented on #1
The reason why only certain channels work is because 802.11n WLAN uses **20 MHz bandwidth** by default. Channels 1, 6 and 11 are at least 20 MHz apart, unlike the [channels inbetween](https://en.wikipedia.org/wiki/List_of_WLAN_channels) that overlap their frequency ranges. With 5 GHz WLAN, the dongle additionaly only supports the channels that are available in all regions of the world. Hope that c

[2019-12-29 15:41] medusalix commented on #3
I've merged the changes into `master` in 1d44947ea3827f2a8bff36c58e35e3541f8ecead. Issue seems to be solved.

[2019-12-29 15:41] #3 closed

[2019-12-30 17:08] medusalix commented on #5
Yes, every dongle and controller has an unique [MAC address](https://en.wikipedia.org/wiki/MAC_address).

Yeah, we'd need someone with the newer dongle and controller model 1537 to test it.

@dragon212c Please do one packet capture on Windows (where it works) and another one with xow on Linux.

[2019-12-30 19:13] samueloph commented on #15
@medusalix

I found this discussion at https://github.com/paroj/xpad/issues/25 which you've probably already seem it, it doesn't help much but I guess it' s worth linking it here.

Dealing with this blob seems like a PITA (no sources/no clear license), it seems weird that you found it with two different licenses and that might be an indication that something's wrong.

I'm not a lawyer, and so this

[2019-12-30 20:47] medusalix commented on #14
I'd rather like find the cause of the problem than adding an arbitrary delay to the service. I suspect it's caused by the `mt76` kernel module. Could you please try blacklisting the module? Instructions are [here](https://askubuntu.com/questions/938658/how-to-blacklist-radeon-module) (just remember to use `mt76` as the module name).

[2019-12-31 08:23] andreashuetter commented on #14
Well, this issue is a little bit difficult to test, because it doesn't always occur, but only sometimes. Though, it seems to happen more often when cold-booting the machine than at warm-booting. After inserting the 5 seconds delay I tried about 10 cold-boots and 10 warm-boots and during those tests the issue did never occur again. This does not guarantee, though, that this permanently solves the i

[2019-12-31 09:13] Hedronmx opened #16 "Possible to sync in both windows and linux?"
I used the xbox 360 adapter and with that adapter i could sync once and my controllers would work in both windows and ubuntu.

Could it be possible to do that? One sync to rule them all.

[2019-12-31 11:23] medusalix commented on #16
I'm paired on both Windows and Linux just fine. I turn on the controller and it connects automatically. So apparently it works with the Xbox One adapter too.

[2019-12-31 11:50] medusalix commented on #14
Yes, the blacklisting should only be needed for the old dongle because the `mt76` kernel driver doesn't support the newer dongle ([yet](https://github.com/openwrt/mt76/pull/272)). I think the race condition occurs because the two drivers try to access the dongle at the same time. As a last resort you could delete the `mt76` driver entirely but I'll look for other solutions first.

[2019-12-31 15:21] andreashuetter commented on #14
So far it does look good:

[code]
I did a `sudo update-initramfs -u`, removed the delay from /etc/systemd/user/xow.service and rebooted the machine. `lsmod` and `dmesg` are clean now (even with the `old` dongle):
[code]
After that I tried a couple of cold-boots and encountered no problems so far.
Let's hope the best that this fixes the issue permanently.
Is it possible to add this behavior to the

[2019-12-31 21:55] Hedronmx commented on #16
Do you sync fist in windows? Because i have to pair my controllers if I switch OS

[2019-12-31 21:58] andreashuetter commented on #16
When I pair my controllers on windows then they also work on Linux. I don't have to pair them again in Linux.

[2019-12-31 21:59] Hedronmx commented on #16
I just realized the service was having problem starting. I just restarted the service and now they pair! Awesome!

[2019-12-31 21:59] #16 closed

[2019-12-31 22:02] andreashuetter commented on #16
If your service has sometimes troubles starting (and sometimes not) maybe you should take a look on this issue:
https://github.com/medusalix/xow/issues/14

[2020-01-01 07:03] Hedronmx commented on #16
I am using the new dongle tho... I should not need to blacklist the module... right?

[2020-01-01 08:44] andreashuetter commented on #16
Try
`lsmod|grep mt76`
and
`sudo dmesg|grep mt76`

What does it say? If the outputs are empty then you don't need to blacklist the module.

[2020-01-01 09:37] Hedronmx opened #17 "Changing channel"
What kind of parameters do the variable channel accept? In the read me you say 2.4 ghz might work better.... why is 2.4 not default then?

[2020-01-01 12:27] #17 closed

[2020-01-01 20:04] madjam002 commented on #5
I'm currently testing the latest commit (5c7ead6) with the old bulky USB stick and 2x 1708 controllers, 1x 1697 controller and 1x 1537 controller all connected at once.

The 1697 and 1537 controller were difficult to pair, I had to pair them on Windows and then switch to Linux, this might be unrelated to this project as even on Windows it took a few attempts to pair. Once paired they worked for a

[2020-01-01 22:26] medusalix commented on #5
Please do a packet capture (like I described in my previous comment).

Yes, that also happens when they go out of range. When you build xow with `BUILD=DEBUG` you should see `reconnect` events in your console. The old `js` devices should however disappear (they are closed in the [destructor](https://github.com/medusalix/xow/blob/5c7ead6eb4785ad30e6adbcf62a36a35db9f6f53/controller/input.cpp#L44)).

[2020-01-04 06:21] Hedronmx opened #18 "Make receiver's LED turn off when no controller is connected"
Is this possible?

[2020-01-04 07:36] andreashuetter commented on #18
Isn't it better the way it is now: The LED shows whether the xow service is running (and connected to the dongle) or not?

[2020-01-04 09:43] NoXPhasma commented on #18
That's not how it works now, the LED keeps off even if the driver runs until a controller is connected the first time. And then the LED stays on.

If possible I would like to have the LED off as well.

[2020-01-04 16:41] medusalix commented on #14
I'm currently making a few changes to the `Makefile` (blacklisting being part of that), that'll be included in the 0.3 release.

[2020-01-04 16:41] #14 closed

[2020-01-04 18:32] medusalix commented on #18
This driver should ideally behave identically to the Windows driver in terms of functionality. On Windows, the LED turns off when the last controller disconnects. I've implemented that feature in the `disconnect` branch. Let me know if it works for you and whether you've encountered any bugs.

[2020-01-04 18:48] Hedronmx commented on #18
Ill give it a go. Thank you!

[2020-01-04 22:01] NoXPhasma commented on #18
I can confirm that it works with one controller, connected and disconnected it several times without any issue. However, I only have one controller here at the moment.

[2020-01-04 23:19] medusalix commented on #18
@Hedronmx Could you do a packet capture on Windows please (with multiple controllers and disconnecting them one after the other)? It's pretty hard for me to actually test new features as I only got one controller.

[2020-01-04 23:56] Hedronmx commented on #18
How can I do that?

[2020-01-05 02:50] Hedronmx commented on #18
I just realized that turning off the controllers in the reverse order you turned them on, then the led does turn off and you can reconnect the controller with no issue

[2020-01-05 09:47] LiamFredericks000 commented on #4
I can connect my arctis 9x pro to my linux machine via bluetooth, but I'm stuck using the ad2p bluetooth interface, so I can't use the headset's mic. I used XOW to allow the xbox usb adapter to connect to my headset, but my I couldn't find the headset in linux. Is there anything specific you need help with in order to connect a headset using the xbox wireless adapter?

[2020-01-05 12:35] medusalix commented on #18
@Hedronmx Instructions for making the capture:

- Install [Wireshark](https://www.wireshark.org/). Make sure to tick the option to install **USBPcap** in the installer.
- At the bottom of the Wireshark window you should see multiple USBPcap entries.
- You have to identify which one is the correct one by clicking on one of them to start the capture.
- Now plug in the dongle. If you see lots of mess

[2020-01-05 13:38] medusalix commented on #15
As MediaTek apparently doesn't bother answering my mails (sent another one through their contact form a few days ago), I'm including my message here for reference:

![mail](https://user-images.githubusercontent.com/8124898/71780887-55f05580-2fc8-11ea-958a-7df55cf7f3cc.png)

If they don't reply within the next week, I'll assume they're fine with me distributing their firmware under the included dis

[2020-01-05 14:23] medusalix commented on #4
The first step would be to create input and output audio devices for the headset but I'm not even sure if that's possible from user mode on Linux. If this can only be done from kernel mode then it's not possible to implement this in xow.

[2020-01-05 20:44] LiamFredericks000 commented on #4
hhhmmm... When I connect my headset I didn't see the device anywhere. So even if I were able to create the output and input devices, I couldn't link them to anything.

[2020-01-05 20:55] medusalix commented on #4
I'm talking about the actual process of writing an audio driver for Linux (as explained [here](https://www.kernel.org/doc/html/v4.15/sound/kernel-api/writing-an-alsa-driver.html)). You need to have that running in the kernel, whereas xow is running as a regular user application. It's the same story as the issue about displaying the [battery percentage](https://github.com/medusalix/xow/issues/6). I

[2020-01-05 23:24] medusalix commented on #4
Yeah, this is way too much work for me right now, considering I don't even have a device/headset to test this with. I may implement this for a 1.0 release of xow.

[2020-01-06 19:11] StopMotionCuber opened #19 "Segfault on disconnecting USB adapter when pairing"
# Issue
When setting the USB adapter to pairing mode and disconnecting the device, the driver crashes with a segfault.

# Steps to reproduce
1. Start xow with USB adapter attached
2. Press the physical pairing button on the USB adapter
3. Wait for "Pairing Initiated" log message
4. Remove the USB adapter physically

# Expected results
The driver should detect that the adapter got removed, wait for

[2020-01-06 20:23] medusalix commented on #19
Thanks for the detailed bug report and the stack trace 😃. It could be some kind of bug in libusb's implementation of `libusb_control_transfer`. I'll take a closer look at it.

[2020-01-06 22:26] StopMotionCuber commented on #19
Well, the problem is that `handle` is a nullpointer and `libusb_control_transfer` does not like nullpointer as handles.
I'm not sure how to handle that correctly (pun intended).

Also there is a use after free in `Log::error("Error in bulk read: %d", transfer->status);` as transfer is freed already. I was too lazy to make a PR for that, please fix in one of your commits.

[2020-01-06 23:03] medusalix commented on #19
Ah, now I see. So the problem is that `UsbDevice::close` gets called and sets the handle to `nullptr` while we're doing the control transfer in the dongle thread. We could *handle* this by acquiring the `readMutex` before closing the device. Could you try if adding a simple `std::unique_lock<std::mutex> lock(readMutex);` in the `UsbDevice::close` function works?

Good catch 👍. Going to push that t

[2020-01-07 01:50] Hedronmx commented on #18
https://send.firefox.com/download/1c459ca95569def7/#lG192cgRlGtTH98JPtZ_Qg

There you go! hopefully i did it right.

First time I disconnected out of order, second time I disconnected reversed order.

How I can get the debug logs of xow?

[2020-01-07 10:48] medusalix commented on #18
Thanks for the capture, I'm going to take a look at it.
You can build a debug version of xow by running `make clean` followed by `make BUILD=DEBUG`.

[2020-01-07 16:26] medusalix commented on #19
Ah, now I see. So `UsbDevice::close` sets the handle to `nullptr` while the dongle thread is still doing its control transfers. The only reason this is being done is to prevent `UsbDevice::open` from opening the device multiple times. I'm going to replace this with a boolean variable to indicate if the device is currently open. `libusb_control_transfer` will probably return `LIBUSB_ERROR_NO_DEVICE

[2020-01-08 07:26] YangtseSu commented on #4
I think you need a headset with 3.5mm to connect to the gamepad.
Not a headset connect  to the Linux OS directly.

[2020-01-08 23:15] Hedronmx opened #20 "After connecting controller on windows, I have to unplug and plug again in ubuntu for the service to start"
If I connect my controller in windows and then restart to ubuntu, if I just turn on the controller it wont work, I need to replug the adapter for the controller to connect again.

[2020-01-09 02:17] YangtseSu commented on #4
Use xbox device as Pulseaudio audio sink and source .
https://www.freedesktop.org/wiki/Software/PulseAudio/

[2020-01-09 02:48] LiamFredericks000 commented on #4
That makes sense. I don't actually own a xbox controller so this doesn't work. I used to have a arctis 9x, but i've returned it since I wasn't able to use it wirelessly in linux (except for bluetooth).

[2020-01-10 22:13] medusalix commented on #6
Please head over to `upower` and upvote the corresponding [issue](https://gitlab.freedesktop.org/upower/upower/issues/105) on their GitLab. That missing feature is currently preventing me from adding upower integration.

[2020-01-10 22:46] medusalix commented on #19
@StopMotionCuber I've put checks into place that *handle* the edge case of removing the device while the pairing is in progress. Please see if commit 365c2bc311fe76f9c6056ce672167d0153fc8ad7 fixes your issues.

[2020-01-12 14:03] medusalix commented on #18
@Hedronmx Service logs can be accessed using `journalctl -b -u xow`. Could you please also do a capture on your Linux machine running xow?

[2020-01-12 14:06] medusalix commented on #20
Are you using the older dongle? You might have to blacklist the `mt76` kernel module as described in issue #14. If that doesn't work then I'll have to see your debug logs.

[2020-01-12 22:22] medusalix commented on #15
@samueloph I think it's safe to say that MediaTek doesn't care about my project as of now (got no answer at all). Unless you find a way to reach out to one of their developers/managers/employees, I would just go ahead and publish the Debian package. I added disclaimers to the README and the releases page and I guess there's nothing more I could possibly do to be on the safe side (legally).

[2020-01-12 23:24] Hedronmx commented on #20
I am using this dongle.
https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1B9yp?ver=f8bf&q=90&m=6&h=200&w=200&b=%23FFFFFFFF&f=jpg&o=f&aim=true

[2020-01-13 17:08] rwilliams commented on #12
I'd be more than happy to do a packet capture for this with Wireshark if that would be helpful though I'll probably need a bit of guidance on getting the proper data.

[2020-01-13 20:10] medusalix commented on #12
Yes, that would definitely be helpful. What happens when you try to connect/pair your controller using xow on Linux?

[2020-01-13 20:22] rwilliams commented on #12
➜ sudo ./xow
2020-01-13 12:20:50 INFO  - xow v0.2-5-gcbe6761 ©Severin v. W.
2020-01-13 12:20:50 INFO  - Dongle plugged in
2020-01-13 12:20:50 INFO  - Chip address: 62:45:b5:0b:84:bb
2020-01-13 12:20:50 INFO  - Dongle initialized
2020-01-13 12:21:07 INFO  - Pairing initiated
2020-01-13 12:21:07 INFO  - Pairing initiated
2020-01-13 12:21:08 INFO  - Pairing initiated
2020-01-13 12:21:08 INFO  - Pairi

[2020-01-13 20:27] rwilliams commented on #12
I just updated to master for science, same results.

[2020-01-13 20:40] rwilliams commented on #12
For Wireshark do I just select all the USBPcap options and go through a pairing cycle?

[2020-01-13 20:50] medusalix commented on #12
Yes, first you have to find the correct USBPcap device. If you plug in the dongle and you see lots of messages appearing, then it's probably the correct one. Then you pair your controller, generate some inputs (buttons, triggers, bumpers) and disconnect the controller.

[2020-01-13 22:42] rwilliams commented on #12
Ok. I think i got the filters right to only capture the receiver and controller. The first capture is turning the controller on, already paired. Doing a pairing cycle and then hitting a bunch of buttons. The second capture is specifically for the paddles on the underside. Starting with Top right(B)
, Bottom right(B), Top left(X), Bottom Left(X). `I only actually use one paddle on each side for roc

[2020-01-13 23:15] rwilliams opened #22 "Project Support"
@medusalix Would it be possible to get an English paypal link too and you might be interested in creators.brave.com you can link your github to it to accept BAT tips.

[2020-01-13 23:20] rwilliams commented on #22
I'm an idiot :P

[2020-01-13 23:23] rwilliams commented on #22
Ok. Would it be possible to get an English paypal link too and you might be interested in creators.brave.com you can link your github to it to accept BAT tips.

[2020-01-14 16:59] medusalix commented on #12
I've looked through your captures and didn't spot any obvious differences that might prevent it from pairing. Could you do another capture on Linux please (with xow open)? The debug logs might also be helpful (`make` with `BUILD=DEBUG`). Please make sure to wait for around 20 seconds after you press the pairing button (the pairing can be quite slow).

[2020-01-14 17:10] rwilliams commented on #12
Will do

[2020-01-14 17:14] #19 closed

[2020-01-14 17:52] rwilliams commented on #12
https://wiki.wireshark.org/CaptureSetup/USB#Linux

I have no idea what to choose here to filter.
![Screenshot from 2020-01-14 09-50-47](https://user-images.githubusercontent.com/29144/72368681-68971880-36b3-11ea-88d3-694c98548395.png)

I think when I chose any it was getting data from the dongle but i'd like to get a capture that's more specific. Where are the logs for xow located?

[2020-01-14 19:27] medusalix commented on #12
You have to run `sudo modprobe usbmon` for USB devices to appear in Wireshark.

[2020-01-14 19:28] rwilliams commented on #12
Thanks! Will post soon.

[2020-01-15 12:30] rwilliams commented on #12
[code]

Well it looks like it pairs. It shows up properly in steam. None of the inputs seem to work though. I got usbmon going but i didn't see any action on any of the usbmon filters that seemed like they were from the dongle when I looked at them.

[2020-01-15 20:49] medusalix commented on #12
Looks like the pairing works just fine (sometimes it takes a while for controllers to connect, even on Windows). The input doesn't work because the packet the elite controllers sends is a little bit bigger than the normal input (due to the additional paddles) and xow ignores packets with an incorrect size. That shouldn't be too hard to fix though...

[2020-01-16 21:16] medusalix commented on #22
I assumed PayPal would allow donations in all currencies and convert those to the corresponding value in EUR (minus the fees). Is that not the case?

I took a look at Brave Creators, but they require you to share all your personal information with their payment processor, which I don't really want to do. I'm fine with PayPal at the moment.

[2020-01-16 21:47] rwilliams commented on #22
Euros is not the problem. Trying to beat the recapcha boss in a foreign
language is.

On Thu, Jan 16, 2020, 1:16 PM Severin <notifications@github.com> wrote:

[2020-01-16 22:01] rwilliams commented on #22
Ok, it looks like your email is at the top of the current link provided. Right now that link is in German and google translate doesn't seem to work on it. The recaptcha boss in particular is hard, though i guess i could manually paste the phrase they are looking for in google translate.

[2020-01-16 23:39] medusalix commented on #22
Ah, so the problem is the German page and not the actual payment process.
From a quick google search it seems like other projects fixed this issue by append `&lc=US` to the donation link. Could you please try if that works? Thank you very much for your donation 😃.

[2020-01-16 23:42] rwilliams commented on #22
That didn't work. This did.
https://www.paypal.com/donate/?token=P-T6Gs5p3CPBmtOx2B1tpTm15mASHgLFUXw5JEKPghrua1vELEWJ3-coks3NDtdQEXcjB0&country.x=US&locale.x=US

[2020-01-17 09:05] medusalix commented on #22
That's the link PayPal redirects me to when I click https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PLN6F3UGS37DE&lc=US. It works just fine on my system, maybe you need to clear the cache/cookies.

[2020-01-17 09:46] zyll71 opened #23 "Need to start command line first to make dongle link when started as service later."
I set up xow to run as a service. However, the service dies when I try to link the pad up to the dongle.
When I make sure the service is shut down again, unplug and plug the dongle in again, and I then start xom from the command line with the dongle plugged in already, all I need to do is wake the pad and the connection is established.
What is really strange: I can kill the command line instance o

[2020-01-17 09:59] medusalix commented on #23
The `Error opening device: Permission denied` is thrown when xow doesn't have the required permissions to access the `/dev/uinput` device. When you run `make install` a `udev` rule is copied to `/lib/udev/rules.d` to make `/dev/input` read-write for all users.

[2020-01-17 10:16] medusalix commented on #12
@rwilliams What inputs do the paddles generate when you plug in the controller over USB? If you run `evtest` you should be able to see all the events generated.

[2020-01-17 12:04] zyll71 commented on #23
(Since I had fiddled with the udev rule in the mean time and to be 100% sure, I de-installed, rebuilt and re-installed xow. Then a reboot.)

For some reason, the udev rules are not being applied when the service is started or they are not being applied.

crw------- 1 root root 10, 223 Jan 17 12:44 /dev/uinput

-rw-r--r-- 1 root root 261 Jan 17 12:17 /lib/udev/rules.d/99-xow.rules

# Make dongles a

[2020-01-17 12:45] medusalix commented on #23
I've found [this issue](https://github.com/chrippa/ds4drv/issues/93#issuecomment-265300511) which seems to deal with the exact same problem. Please try if the mentioned workaround solves the udev issues.

[2020-01-17 12:46] rwilliams commented on #22
I didn't append the `&lc=US` to your link, I guess i misunderstood and appended it to the generated link like an idiot. Good to go now.

[2020-01-17 12:50] #22 closed

[2020-01-17 13:01] zyll71 commented on #23
alone did not suffice. The permissions do seem better:
[code]
However, the service does not run beyond
[code]

Adding `GROUP="uinput"` to `/lib/udev/rules.d/99-xow.rules` does not help either (is this the right pace?). So I have removed it again.

[2020-01-17 13:11] rwilliams commented on #12
This is what I expected. There is no difference between hitting b or a paddle mapped to b. I tested for x too. Can test more bind combinations to look for edge cases if you need. In this case my b and x were east and north respectively.

[2020-01-17 13:49] zyll71 commented on #23
Hmm, I can't seem to find a group `uinput` in my `/etc/group`. No wonder that did not work. A openSuSE thing calling it something different perhaps?

[2020-01-17 14:04] zyll71 commented on #23
Please disregard the above.
No idea what I borked previously. For some reason, after a reboot, the pad and the dongle now connect using the workaround you mentioned.

Thank you very much!

[2020-01-17 20:34] medusalix commented on #12
That looks like Microsoft actually implemented the button remapping in hardware. Based on your paddle captures it seems like we can just treat the bigger input packets as those of a normal Xbox One controller in the code. Please checkout the [`elite`](https://github.com/medusalix/xow/tree/elite) and let me know if it works 😃.

[2020-01-17 20:35] rwilliams commented on #12
Will do. Yeah sorry for not mentioning earlier that's it's all handled via firmware/hardware internally. I have to map the buttons in Windows but the mappings work without software support just fine in linux.

[2020-01-17 20:52] medusalix commented on #23
I've added the workaround to the `Makefile` in b0cdf7dc5be2acbb40337b52f253b835ec72753b. Problem should be solved.

[2020-01-17 20:52] #23 closed

[2020-01-17 21:05] rwilliams commented on #12
Looks good. Pairing still takes some effort though. Maybe the elite wireless 2 will just work now.

[2020-01-17 21:13] medusalix commented on #12
Yeah, both elite controller models should work now. Have you got an elite v2 that you can test this with?

[2020-01-17 21:14] rwilliams commented on #12
I don't unfortunately. I've been pretty happy with my original elite so it's hard to justify dropping the money on the updated one.

[2020-01-17 21:29] medusalix commented on #12
Yes, it's **very** expensive and the built-in battery would be a dealbreaker for me. I've merged the changes into master in b58edb4ce50910fb7401c3d31919b2cc448aaaba, so I'll close this now.

[2020-01-17 21:29] #12 closed

[2020-01-18 02:13] Hedronmx commented on #18
I updated to latest commit of master and now the leds turn off everytime.

[2020-01-18 10:34] NoXPhasma commented on #18
The latest master doesn't even have the disconnect functionality.

[2020-01-18 10:44] Hedronmx commented on #18
The I have no idea!!! Its working just fine....

[2020-01-18 10:46] NoXPhasma commented on #18
Are you sure you are actually in the `master` branch and not still in `disconnect`? You can check that by running this command in the xow folder: `cat .git/HEAD`.

[2020-01-18 21:25] medusalix commented on #4
I did some packet capturing and reverse engineered the important parts of the protocol:

- The controller sends a special packet when you plug in a headphone/headset.
- The driver responds, creates a local audio device and enables the controller's audio stream.
- The controller periodically sends audio data from the headset's microphone.
- The driver sends a new audio output packet **every 8 milli

[2020-01-18 22:39] samueloph commented on #15
@medusalix ack, I'm gonna go ahead and work on a package based on the git snapshot of the project (since there' s lots of important changes coming in as I see) for the non-free section.

Thanks for sorting this out :)

Feel free to close this issue if you'd like, I reckon there was a chance you'd like to leave it open so I didn't do it.

[2020-01-18 23:04] medusalix commented on #15
@samueloph Awesome 😃. Please let me know if the `Makefile` needs any modifications in order to make the Debian packaging easier for you. Ideally, I'd like to have version 0.3 available on the Debian repositories.

[2020-01-19 01:13] Hedronmx commented on #18
I guess i was running the old service then, I restarted and now the led wont turn off. Ill go back to disconnect and get you the logs

[2020-01-19 01:19] Hedronmx commented on #18
[code]

[2020-01-19 12:10] medusalix commented on #18
@Hedronmx Thanks for the logs, but you're still on master 😄. The version info should be `v0.2-17-g357c8cb` (first line of the logs).

[2020-01-19 16:51] Hedronmx commented on #18
Ok so it happened again!! i download the zip version of the disconnect branch. Installed it from there and the led turns off just fine. The logs i sent where from the disconnected branch install before a reboot.

Why is that happening??

[2020-01-21 13:14] medusalix commented on #18
I'm going to buy a second controller and do the testing myself.

[2020-01-21 15:14] Hedronmx commented on #18
Ok, sorry

[2020-01-23 12:05] Neverest opened #24 "Shutdown doesn't turn off controllers/adapter"
On windows if I restart my computer the adapter led and the controller turn off. When I try this on linux (Ubuntu Mate 18.04.3) the adapter led stays on and the controller led is blinking, as if looking to connect again until I boot up to linux or windows.

Using the old bulky adapter and 1708 controller.

Edit: Also happens when I turn it off.

[2020-01-23 13:15] Neverest commented on #18
I gave it a try and it does turn off the led from the adapter when I disconnect the controller. Here's my log:

[code]

[2020-01-23 19:06] Waxyen opened #25 "Elite controller does not pair"
I have an Elite controller with model number 1698, but it won't pair.

I have built the project with the `make BUILD=DEBUG` command, and this is the result:

[code]
I have tried to get some package captures via Wireshark, but I don't see any traffic on the usbmon{x} interfaces in Wireshark. (I do see usbmon0...6 in Wireshark, but no traffic.

Is there anything else you'd like me to try/test?

EDIT

[2020-01-23 20:19] medusalix commented on #25
Thanks for the detailed issue description 👍. Could you please make sure that your elite controller is running the latest firmware? According to the logs the controller responds to the pairing requests (which is a good sign) but doesn't finish the pairing process. Other people have successfully used their elite controller with xow, but in your case I'll definitely need a packet capture.

[2020-01-23 20:27] medusalix commented on #24
Yes, that feature works by sending a special message to all controllers when the system is shut down (on Windows). I've tried adding a signal handler for Linux' `SIGTERM` signal (which is sent on program termination), but there are some [limitations](https://stackoverflow.com/a/48262055) that make the actual implementation pretty difficult.

[2020-01-23 20:34] medusalix commented on #18
@Neverest It appears to be working fine with only one controller connected. People reported problems when using multiple controllers, so I'll have to get a second controller first.

[2020-01-23 20:56] Waxyen commented on #25
Updating the Elite controller is a good idea, but the Xbox Accessories app did not see any update. The software version of the Elite controller is currently 2.3.2388.0. Can you check if you have this software version too?

If the software versions match, I'd be more than happy to do some packet captures, but as I mentioned, I'm not sure how. Do the issues with Wireshark that I described seem famil

[2020-01-23 21:47] Waxyen commented on #25
I did try to connect another time, since the Xbox Accessories app did reboot the Elite controller. The output is a little different this time. It might give some clues as well. But the packet capture is probably still needed.

[code]

[2020-01-23 22:01] Neverest commented on #18
Oh, seems that I skipped those post talking about that. Sorry.

@Hedronmx I got the disconnect branch by typing `git clone -b disconnect --single-branch  https://github.com/medusalix/xow.git`

[2020-01-23 22:06] medusalix commented on #25
I'm currently not at home, so I'll check the firmware version tomorrow. Although I'm not even sure if my normal Xbox One controller gets the same firmware as the elite controllers.
I've never had any problems with the `usbmon` captures, I really don't know why they're failing for you.
From the logs you posted above it looks like the controller is connecting just fine (at `22:40:51`). Did you press

[2020-01-23 22:28] Hedronmx commented on #18
@Neverest  Yeah I did have the disconnect branch, the weird thing happens when on the disconnect branch I install the master. You should give it a try. Install the master and then connect and disconnect the controllers. Let me know if it did turn off the led after installing master.

Dont reboot or anything also.

[2020-01-24 08:30] andreashuetter opened #26 "Use of xow in combination with VirtualHere"
I have a question:
xow runs perfectly well for me on my Linux machine if I plug the dongle directly into a USB-Port on that machine.
What does not work (yet) is the following: Plug the dongle into a USB-Port on my Steam Link and forward it via VirtualHere to my Linux machine.
This did work so far with every other USB device I ever tested, but not with the Xbox One Wireless Adapter (additional info

[2020-01-24 10:16] medusalix commented on #26
The error is thrown as a result of the call to `libusb_reset_device`:

https://github.com/medusalix/xow/blob/b58edb4ce50910fb7401c3d31919b2cc448aaaba/dongle/usb.cpp#L46

I'm not even sure if we *need* to reset the device, I included that statement just to be on the safe side (considering the case that some other driver misconfigures the device). You could try removing that line, it might work.

[2020-01-24 10:46] andreashuetter commented on #26
Wow, this is great!
I just commented out the above line as suggested by you, recompiled xow and now it works! I can plug the Xbox One Wireless Adapter into the USB-Port of my Steam Link now and forward it to my Linux machine. This is exactly what I wanted, thank you!

Do you think this line should be removed generally for the next release, or is it better to keep that line (but don't let the servi

[2020-01-24 11:33] Neverest commented on #18
@Hedronmx  It does as you say, but isn't that because systemd changes reflect on reboot?

[2020-01-24 15:30] Hedronmx commented on #18
Do you have multiple controllers? @Neverest if you do then try this

[2020-01-24 23:42] Waxyen commented on #25
Funny business going on here. Well, maybe it's easy to explain.

What I've done:
1. Removed the xow project from my PC
2. Cloned the xow project from Github and `cd`-ed in there
3. Did a build with `make BUILD=DEBUG`
4. Executed `sudo ./xow`
5. Hit the pair button on my dongle
6. Powered ON the Xbox Elite controller and hit the pairing button there
7. It's connected.

I did these exact steps. Here

[2020-01-25 13:57] medusalix commented on #26
Yeah, I'm going to remove that line in the next commit. It probably won't affect the operation of the driver in any negative way.

[2020-01-25 14:26] medusalix commented on #25
Neither do I 😄. Pairing can be a bit unreliable from time to time, but I'm happy that you've got it working!

[2020-01-25 14:26] #25 closed

[2020-01-25 17:23] samueloph commented on #15
@medusalix just saw 0.3 released, that' s great, I will finish the packaging between now and the MiniDebcamp that we're going to have just before FOSDEM.

[2020-01-25 19:48] andreashuetter commented on #26
Well, you mean like so:
[code]

In this case xow (when forwarding the USB-Dongle via VirtualHere) crashes with:
[code]
But to be honest, this particular issue became less important to me personally as of today,, because the latest Steam Link Software Build now has xow integrated. So I don't need to use VirtualHere for this use case anymore, because the dongle now works directly on the Steam Link w

[2020-01-26 15:52] medusalix commented on #26
Oh wow, that's pretty cool 😃.

Yeah, let's leave it as it is.

[2020-01-26 15:52] #26 closed

[2020-01-27 02:46] ZVNexus commented on #5
Heyo, I own 1537 and my dongle is 7632. I wasn't really sure how to grab a packet capture, but everytime the service failed this popped up in Wireshark, so thought it might what you're looking for.
[1537-7632.zip](https://github.com/medusalix/xow/files/4115376/1537-7632.zip)

@medusalix

[2020-01-28 20:52] medusalix commented on #5
@ZVNexus Your capture is unfortunately not related to the dongle's operation. I ordered an old 1537 controller today, so I'll have the right hardware to debug this issue soon.

[2020-01-31 07:10] cristianovitorino opened #28 "Simple logo and web page for the project"
Hello,

First of all, thank you very much for the impressive work! Working as a charm for me on Fedora 31 : )

I want to propose a simple logo and web page for the project.

For the logo I thought about referencing both the physical dongle shape and imagery and also the command to run xow on ther terminal.

For the web page I thought about just going simple and effective.

The font is Roboto Mono

[2020-01-31 07:26] AntiGuide commented on #28
Nice I like it! A website would be cool. The last time i searched for the project and didn´t remember the name it was hard to find. This could greatly improve the visibility of the project.

[2020-01-31 16:26] Hielyr commented on #12
I have a v2 I can test with if necessary. I'll work on seeing if it works with the default build with the v1 changes added, and if not we can go from there.

[2020-01-31 16:47] NoXPhasma commented on #28
That logo looks really good, reminds me on `./xow`.

[2020-02-01 15:25] medusalix commented on #28
@cristianovitorino Very good idea. The minimalitic logos/designs you created look fantastic ❤️. We could maybe use [GitHub Pages](https://pages.github.com/) to host the web page.

[2020-02-01 18:42] Hielyr commented on #12
I have confirmed that the v2 Elite controller works as well!
The model of the controller I'm using is 1797.

[2020-02-01 19:03] rwilliams commented on #12
Off topic but if I can resell or gift my V1 is the V2 worth getting?

[2020-02-01 20:53] cristianovitorino commented on #28
Thank you! GitHub Pages sounds good. How should I proceed? Should we vote on a particular design for the logo and web page? Or do you have a preferred design for the logo and webpage? Let me know and I'll try and put a web page together and post the files here ready to go and ready for you to work with.

[2020-02-01 21:23] Hielyr commented on #12
I've never owned a v1, so I'm unable to make a direct comparison.
What convinced me to get one for myself was this video review by Tim Rogers: https://www.youtube.com/watch?v=PhrNA07kzjc

He goes into a pretty decent comparison between the the two controllers.

[2020-02-03 09:50] g00sed opened #29 "Xbox Elite Controller 2"
Looks like it does not work.

If I run `# xow` I get the following output:
[code]
The light blinks, but when I attempt to pair the controller, nothing happens.

OS: Manjaro 5.4.16-1

[2020-02-03 10:50] medusalix commented on #29
Maybe @Hielyr can help you. It seems like the Elite Controller 2 should be working.

[2020-02-03 12:58] Hielyr commented on #29
I already have mine paired, but this is my output:

[code]
I could try unpairing and re-pairing the controller, but if memory serves, the output looked pretty much like that originally.

One thing I will note however, and it's just a peculiar thing that likely has no real relevance - when I connect my Elite v2 via the dongle using xow, Steam recognizes it as one of my other Xbox controllers - spec

[2020-02-03 17:05] medusalix commented on #28
I really can't decide between the two designs you posted. Just an idea: Fade from the black logo on white background to the white logo on black background when you hover over the banner. Maybe a mix of the two designs? I'm really busy right now so I apologize for my delayed responses.

[2020-02-03 17:07] NoXPhasma commented on #28
I personally prefer the first logo, it looks very clean.

[2020-02-04 01:15] cristianovitorino commented on #28
No need to apologize! We all do Open Source on our free time : )

Sounds good to me, thanks for the idea. I'll see what I'm able to come up with.

[2020-02-04 19:07] medusalix commented on #18
I did some testing with my 1537 and 1708 controller and it worked just fine. All the inputs were recognized properly (tested using `evtest`) no matter how often and in which order I connected or disconnected the controllers. The LED turned off every single time I disconnected both controllers.

[2020-02-04 21:15] aguaviva opened #30 "terminate called after throwing an instance of 'InputException'"
Almost there! This is pretty exciting :) Here is the log in case it helps.

Some notes: The led in the dongle doesn't blink or lit at all.

[code]
Please let me know how can I help

[2020-02-04 21:49] aguaviva commented on #30
Not sure what happened but after a reboot, I was trying to capture a wireshark and it turned out that all was working fine! Thanks!!

[2020-02-04 21:51] medusalix commented on #30
That error is thrown when xow doesn't have the necessary permissions to open `/dev/uinput` (they're set by the udev rules). I'll add a corresponding notice to the README for future users.

[2020-02-04 21:52] #30 closed

[2020-02-04 22:20] g00sed commented on #29
Well I'm glad it's working for you at least!

How did you go about installing it and running it?

[2020-02-04 23:16] aguaviva commented on #30
Awesome, I had a great time using the wireless controller, thanks for that :)

[2020-02-05 09:07] cristianovitorino commented on #28
Done! [xow-website.zip](https://github.com/medusalix/xow/files/4158419/xow-website.zip)

I separated a logo for the README.md too. Suggestion:

[code]

[2020-02-05 16:21] Hielyr commented on #29
I just followed the build instructions and set xow as a systemd service as recommended.

I will say however, that I do have the latest firmware installed on the controller. I've read there are ways to do it via a Windows VM with USB passthrough using VirtualBox, but I just used an old Windows 10 laptop I happen to have and connected it via the USB cable and updated it using the Xbox Accessories ap

[2020-02-06 19:37] cristianovitorino commented on #28
Hey @medusalix I see that you've uploaded the website, nice! Can you give me access to do pull requests? I see that I need to update the website to reflect the repo latest changes and fix some sections, and also to help maintain it.

I have the changes ready for review on my local repo.

[2020-02-06 23:45] Hedronmx commented on #18
All my controllers are 1708, could that be the difference? Am I doing something wrong?

[2020-02-07 08:18] AntiGuide commented on #28
I ran the page trough some speed benchmarks and discovered that they all complain about the missing cache configuration. Is this something we can change or is this a server config thing?

[2020-02-07 09:53] cristianovitorino commented on #28
Seems to me like a GitHub Pages limitation. "CacheControl: max-age=600" (10m), which is impossible to change, see [this](https://webapps.stackexchange.com/questions/119286/caching-assets-in-website-served-from-github-pages) for more info.

[2020-02-07 17:03] iroedius commented on #29
I have the same problem. I'm getting three 'Pairing initiated' messages and the dongle light starts to blink after pressing the dongle button. Then I press the bind button on the controller and its light starts to blink faster searching for the dongle but that's it, no pairing happens.

[2020-02-07 20:33] medusalix commented on #18
I've just pushed the changes form the `disconnect` branch to `master`.

@Hedronmx Please try to run `make uninstall` followed by a reboot before installing the newest version. Maybe that's why it's not working for you.

[2020-02-07 20:34] Hedronmx commented on #18
I see, ill give it a shot! Thanks for your help and patience!

[2020-02-07 22:36] AntiGuide commented on #28
Ok I see... Thanks for checking tough. Maybe with more supporters some time in the future we could rent a small server :blush:

[2020-02-07 22:40] AntiGuide commented on #28
I also found a small bug: When the install instructions overflow on a tall screen (mobile) the grey box doesn't get extended. I don't know if you already fixed this in the open PR but I thought I should put this here just in case :slightly_smiling:

[2020-02-08 02:38] Hedronmx commented on #18
Works perfectly! Just tested it. Sorry If I made some mistakes

[2020-02-08 02:38] #18 closed

[2020-02-08 07:36] cristianovitorino commented on #28
Yeah I know about the issue, didn't have time to fix that. At first it seamed to be fixed, but I see it went throught into final version. There is no fix in the current PR. Feel free to do a PR later, or open a new issue on this bug, I'll look into it when I have some available time and also I need to wait for @medusalix to review and process the current PR.

Thanks for reporting!

[2020-02-08 12:44] medusalix commented on #28
Yeah, on Chrome it overflows horizontally whereas on Firefox the grey box is cut off vertically (Android):

![Issue](https://user-images.githubusercontent.com/8124898/74085421-16120780-4a79-11ea-8187-067c63abba77.png)

[2020-02-08 15:04] Mernst1 opened #32 "Dead Zones Joysticks"
Hello,

great job so far, i love it.
The only thing that bothers me is the dead zones on the joysticks.
Especially on the right side. If it is centered, it always gets low inputs down in games.
Is it possible to enlarge the dead zones or to implement them if they do not yet exist?

On bluetooth connection I have this behavior not.

Thank you

[2020-02-08 18:22] cristianovitorino commented on #28
Fixed the issue.

Improved the aesthetics of that box along the way. Also improved the overall website performance by leaving all the files on their minified version.

PR is up and ready for review.

[2020-02-08 22:32] medusalix commented on #32
Deadzones should be handled by Linux' input system. I justed looked through [xpadneo](https://github.com/atar-axis/xpadneo)'s source and saw that they were [specifying](https://github.com/atar-axis/xpadneo/blob/4414f984997e38c40480790948f3a84bd75083fa/hid-xpadneo/src/hid-xpadneo.c#L1048) `fuzz` and `flat` values for the joysticks. That may lead to the behavior you are seeing. I'll make sure to get

[2020-02-09 22:38] medusalix commented on #9
I just did some reasearch and it's apparently [not possible](https://github.com/flatpak/flatpak/issues/524) to package software that runs `systemd` services as Flatpaks. So I guess we'll have to rely on traditional software repositories for xow's distribution.

[2020-02-09 22:40] #9 closed

[2020-02-10 11:33] medusalix commented on #32
@Mernst1 I've pushed some changes to the `deadzones` branch that should improve the input handling. Let me know if it works for you.

[2020-02-10 18:25] Mernst1 commented on #32
Great! It's working.
Thank you.

[2020-02-10 18:25] #32 closed

[2020-02-11 15:42] DatCrazyDelphox opened #34 "Make the driver be DKMS compatible in the future"
Hi, I would know if you're interested in eventually convert the driver to a dkms package later on, because it wouldn't need to be linked with systemd services and would work on Linux out of the box as a (almost) integrated driver.

Also, it would do great as a integrated driver of my gaming-focused kernel fork

It doesn't need to be done now, but I would like to get an idea from you

[2020-02-11 22:34] zakaprov opened #35 "Controllers losing connection for a couple of seconds"
Operating system: Raspbian Buster
Kernel version: 4.19.75
Controller model: 1708
Dongle variant: slim
xow version: v0.3-10-gf06f669

With my last update of the driver (latest commit: https://github.com/medusalix/xow/commit/f06f669d38905c645c3ca1bcffdecff8a487bc67) all 4 of my controllers started randomly losing connection for a couple of seconds at a time.
After checking out the previous commit (h

[2020-02-12 00:21] yodatak opened #36 "Upstream it to the kernel"
Thanks for this awsome work , do you think that it will posible to upstream it with help from the one who get xbox one controler into the kernel ?

[2020-02-12 05:28] Hedronmx commented on #35
Same here! Latest commit disconnects my controller for a second or two

[2020-02-12 05:40] Hedronmx commented on #20
I realized its everytime the service starts, since after installing XOW I need to replug the adapter. Also I ran sudo ./xow and it was stuck on initializing adapter

[2020-02-12 09:49] medusalix commented on #36
I don't think so, as xow is not a kernel driver. It runs completely in user space and is not designed to be used as a kernel module. Doing so would require a full rewrite of xow (in C). Getting drivers upstreamed is a whole different story, not even [xpadneo](https://github.com/atar-axis/xpadneo/issues/44) is upstreamed yet. There are multiple reasons for xow to run in user space:

1. Stability (i

[2020-02-12 09:50] #36 closed

[2020-02-12 09:54] medusalix commented on #34
Please see issue #36. xow is deliberatly designed as a user space driver and not as a kernel module. Obviously, I can't prevent people from rewriting and creating a kernel driver, but that would literally be no improvement over the user space version.

[2020-02-12 09:54] #34 closed

[2020-02-15 08:50] NoXPhasma commented on #35
I can confirm this behaviour, going back to https://github.com/medusalix/xow/commit/f06f669d38905c645c3ca1bcffdecff8a487bc67 makes it work flawless again.

[2020-02-15 13:29] medusalix commented on #35
@NoXPhasma It's highly unlikely that 50b46c4fe407bd152e8eecf7bda0f458d950e904 caused any connection problems. I'll have to investigate how the changes in f06f669d38905c645c3ca1bcffdecff8a487bc67 lead to the random disconnects.

[2020-02-15 13:58] zakaprov commented on #35
@NoXPhasma I'm sure about that, I encountered the problem before https://github.com/medusalix/xow/commit/50b46c4fe407bd152e8eecf7bda0f458d950e904 was created.

[2020-02-15 14:00] NoXPhasma commented on #35
Alright, I was just curious as it seems not to happen for me with https://github.com/medusalix/xow/commit/f06f669d38905c645c3ca1bcffdecff8a487bc67. At least not inside a time period of around one hour.

[2020-02-15 16:26] medusalix commented on #5
I've made some changes to the pairing logic in 3cbc66538559e2ea681d26060a27b39af88ea37a, which allows 1537 controllers to pair with the dongle. The pairing process is **very** unreliable right now. I'm pretty sure I've identified the issue, but I'm not sure how to fix it:

![pairing](https://user-images.githubusercontent.com/8124898/74591342-75db5600-5017-11ea-84be-87015c1e3dd2.png)

These are cap

[2020-02-15 18:12] Bur0k opened #37 "Support for different version of the dongle"
I am currently on Arch Linux and i tried both xow packages from the AUR and also directly compiled and installed from github.
Pairing works in a VM and in Windows directly but never saw a successful connection on Arch (Even tried another adapter + controller combo).

Slim Adapter + 1708.
How can i debug this problem?

2020-02-15 19:06:45 INFO  - xow v0.3-15-g8ee82a4 ©Severin v. W.
2020-02-15 19:06

[2020-02-15 18:41] medusalix commented on #35
I can't reproduce this issue with my 1708 controller and slim dongle. Left them connected for over 10 minutes and nothing happened. Commit f06f669d38905c645c3ca1bcffdecff8a487bc67 made some changes to the way disconnects are handled. Previous versions of the driver didn't detect when controllers got out of range (or somehow lost the connection). It just ignored the fact that these controllers were

[2020-02-16 16:39] tmertens commented on #35
@medusalix I have been seeing this as well with my RetroPi. We've seen this with two controllers connected while actively playing games, so it doesn't seem related to the controllers not sending any inputs or going out of range.

I haven't tested to see if it happens when only one controller is connected, but can test that as well if it would be helpful.

[2020-02-16 17:19] andreashuetter commented on #35
Never had this issue until today.
Today this issue happened three times within only 1 hour to me after I had set the the steaming quality from "balanced" to "beautiful" (I am currently using the dongle on my Steam Link to stream the games from my Linux PC to my TV in the living room).
Possibly just a matter of coincidence, as I can think of no reason why the streaming quality could have an impact

[2020-02-16 17:21] djibux commented on #35
I confirm having this bug as well.  I'm happy to help debugging if you need.

[2020-02-16 21:58] medusalix commented on #37
Pairing 1708 controllers should work fine. I've noticed that it sometimes needs about a *minute* to complete the pairing. Debugging the actual pairing process is unfortunately next to impossible without access to the source code of the dongle's firmware.

[2020-02-17 14:26] fattredd commented on #35
I don't think this is related. I'm seeing the same disconnection issue without steam being a factor at all.

[2020-02-17 15:43] Bur0k commented on #37
Unfortunately i can't seem to pair the controller. I tried it several times until the pairing search process on the controller times out (rapid blinking to slower blinking) and never saw a single message on the console.

Is this easier to debug with a 5Ghz dongle so i can capture packets and what not? If yes, any cheap recommendations?

[2020-02-17 16:55] medusalix commented on #37
The first thing you could try is a simple Wireshark USB capture between the dongle and your system. Maybe the pairing packets get received by the dongle but aren't recognized by xow. If the capture doesn't show any signs of the pairing process you'll have to do a wireless capture (2.4 GHz will work, xow uses channel 1 by default).

[2020-02-17 18:55] Bur0k commented on #37
What i know until now:

USB packets get sent to dongle for initialization of the pairing, LED in dongle flashes.
I tried to capture packets on 2.4GHz Channel 1 but either there were none from the dongle or i couldn't find them.
Therefore the controller probably never finds the dongle and therefore the dongle never sends USB packets back to the PC.

[2020-02-17 19:32] medusalix commented on #37
You should at least see the beacon frames of the dongle when you capture on channel 1. You've put your network interface into monitor mode, right?

[2020-02-17 20:30] Bur0k commented on #37
I did and i also see other traffic on Channel 1.
I tried to identify the beacon packets with the help of https://gist.github.com/devkid/4b3bd50760504d1b93ea684cfd3ed895 and this is where i got the idea of the 5GHz dongle.
Is it correct that i am searching for a packet with that exact vendor specific tag?

[2020-02-17 21:06] medusalix commented on #37
Yes, that's correct. The beacon data is hardcoded to the following:

https://github.com/medusalix/xow/blob/e8a6d7513df30ce9f71e1e9edda16e5baf8f58c9/dongle/mt76.cpp#L725-L731

You could also try changing the wireless channel in the [Makefile](
https://github.com/medusalix/xow/blob/e8a6d7513df30ce9f71e1e9edda16e5baf8f58c9/Makefile#L3) (take a look at the list of valid channels in [mt76.h](https://gi

[2020-02-17 21:12] Bur0k commented on #37
Tried changing channels and so on a little while ago.
Could be that there is a even newer version. Two of the brand new "Controller + Wireless Adapter for Windows 10" included dongles started with 6c, cant remember what exactly the other one was.
So i guess the dongle is the problem here and not the Controller....

When i press the pairing button on the dongle, is it expected to get two messages f

[2020-02-18 17:22] medusalix commented on #24
@Neverest Please checkout the `poweroff` branch. Any kind of driver termination/shutdown should now power the dongle's LED and all connected controllers off.

I'd really appreciate if @NoXPhasma, @andreashuetter or anyone else that still sticks around could test this. I don't want this new feature to cause any problems to the existing functionality of the driver.

[2020-02-18 18:23] Neverest commented on #24
Tested it just now by restarting it 6 times either directly to linux or changing to windows. The controller and the adapter LED shutoff instantly. Shutting down also powered it down as it should.

Cant test with more than one controller though. Friend that had one isn't close by anymore.

[2020-02-18 19:03] NoXPhasma commented on #24
Can confirm it works perfectly by stopping the systemd service with one Controller:
[code]

[2020-02-18 22:27] medusalix commented on #37
Yes, that happens in Microsoft's driver too. It doesn't cause any harm to initiate the pairing multiple times, so I didn't bother differentiating between button presses and releases.

Very likely. Have you checked whether the firmware in `C:\Windows\System32\DriverStore\FileRepository\mt7612us_xxxxx` is the same as the binary file included with xow? I've noticed that Microsoft distributes differen

[2020-02-19 10:32] Bur0k commented on #37
Just checked and diff'ed it. They are the same

[2020-02-19 23:05] djibux commented on #35
@medusalix I don't know if that helps but leaving the issue doesn't seem to happen when the controller is idle / not being used.

[2020-02-19 23:20] #28 closed

[2020-02-19 23:22] cristianovitorino commented on #28
The website is done, patched, fully functional and has good performance. Closing.

[2020-02-20 02:23] Hedronmx commented on #35
I can confirm this. only disconnects when using the controller

[2020-02-20 12:57] medusalix commented on #37
Then I'm unfortunately out of ideas of what we could try to make this work. Unless I'll be able to get my hands on one of these dongles, I don't think there's much I can do to help you. I'd like to keep this issue open in case someone else has something important to share.

[2020-02-20 13:01] medusalix commented on #28
Thank you very much for your awesome work on the website ❤️.

[2020-02-20 13:33] cristianovitorino commented on #28
No problem, was really fun! :+1:

[2020-02-20 20:13] samueloph commented on #15
Update: I ended up not doing it in FOSDEM, but now I finished it and just uploaded to the Debian's NEW queue, now I need to wait for the ftp-master approval of the package, this usually take between 2 days and a month to happen.

[2020-02-20 21:40] medusalix commented on #20
@Hedronmx I've pushed a (potential) fix to the [`restart`](https://github.com/medusalix/xow/tree/restart) branch. It works for me, though I'm only switching between my Linux VM and Windows. Please make sure you've completely removed the old version before checking out the fix.

@andreashuetter As you've had issues with reboots [in the past](https://github.com/medusalix/xow/issues/11#issuecomment-5

[2020-02-20 21:41] medusalix commented on #35
That's definitely helpful, I'll look into it when I find the time.

[2020-02-21 09:00] djibux commented on #35
What's the proper way to revert to a previous version?
I tried:
[code]
but I am still experiencing the issue.

[2020-02-21 10:56] andreashuetter commented on #20
OK, so I did some additonal testing today, but so far only with the old dongle. As soon as I find the time, I can also repeat those tests with the new dongle.
I tested both branches (master & restart) and didn't find any differences between them so far. No matter if I use commit **c3aeee0** (restart branch) or commit **e8a6d75** (master branch), the behavior always the same:
When cold-booting my m

[2020-02-21 14:53] medusalix commented on #24
Thanks for your feedback, I've merged the changes into master. Please reopen in case you encounter any bugs.

[2020-02-21 14:53] #24 closed

[2020-02-21 22:22] medusalix commented on #15
Thank you so much for your work, I'm really looking forward to trying it out 😃.

[2020-02-22 13:26] pierrecollignon commented on #35
Same here, and going back to the working commit simply prevented me to connect the controller at all (but I might be doing it wrong).

Really good job nonetheless, please send me a message if you want some info about my setup.

[2020-02-22 23:10] x4mers commented on #37
Maybe the dongles should be referred to by model number, instead of slim and bulky, since there seems to be more than 2 now. On the edge of the dongle opposite the sync button, there is black writing. At the top right corner of that edge, mine says Microsoft and just below it says Model 1713. I'm pretty sure mine is the old bulky one. Anyone with the slim one can provide theirs? Bur0k, what does y

[2020-02-23 11:22] medusalix commented on #37
I think we're dealing with different revisions/versions of the two models here. Take a look at [Microsoft's FCC applications](https://fccid.io/C3K). Their application ids always refer to the model number of a specific product. In case of the old dongle, it's [C3K1713](https://fccid.io/C3K1713). I couldn't spot more than two models of the dongle.

[2020-02-23 13:06] Bur0k commented on #37
Mine is 1790

If you want i can mail it to you and when you are done i'll provide the label to send it back

[2020-02-23 16:58] medusalix commented on #20
@andreashuetter Thanks for the extensive test. It's always hard for me to reproduce issues that happen only sometimes, especially considering that I run Linux in a virtual machine.

@Hedronmx I've pushed the changes to master, please comment if the issue isn't fixed.

[2020-02-23 16:58] #20 closed

[2020-02-23 17:38] medusalix commented on #35
Hey, I've got two things that might help me with this matter:

- What happens when you change the channel in the [Makefile](https://github.com/medusalix/xow/blob/a35977eaada7b6cf8191e47e9f6bf5473b9ee18a/Makefile#L3) to something like `165` (or one of the other available channels)?
- Do the disconnects still happen when you get really close to the dongle with your controller?

[2020-02-24 14:35] pierrecollignon commented on #35
- The disconnect still happen regardless of the distance it seems
- They're not too bad when playing a modern game with auto reconnect
- Here's a short session without changing the channel:
[code]

And after I switch to 165:
[code]

[2020-02-24 15:09] pierrecollignon commented on #35
And I did a little change:
[code]
And now it works perfectly, no deconnection:
[code]

- So it begs the question, I tried to find an m76 mcu doc, whatever that is, and couldn't. How did you figure 0x0e meant to deco the pad ? Wireshark seemed to say so ? Could it be a typo, feature of newer controllers, something the driver ignore on windows etc ?

[2020-02-24 17:55] Hedronmx commented on #20
Sorry I couldn't test it! Was really busy. I will give it go on master. Thank you!

[2020-02-24 20:26] l0ud commented on #35
I'm observing frequents disconnects too, they happen so often so driver is not usable in current form.
I noticed disconnect happen on CPU spikes, for example: turning on Steam - disconnect and reconnect, turning on game - the same, game compiling shaders=stutters -> disconnect and reconnect.
In my short gameplay, controller got somehow reconnected as second controller making it impossible to play

[2020-02-24 20:33] andreashuetter commented on #35
@l0ud: So you have disconnects on CPU spikes, and I have disconnects on my Steam Link only when the streaming quality is set to "beautiful", not when it's set to "balanced", that is only when the Steam Link is heavily utilized, but not when it's partially idle...

Looks like some kind of timeout-issue to me.

[2020-02-24 21:15] medusalix commented on #35
You can run `make BUILD=DEBUG` to get a little bit of extra verbosity from xow. Logs are available via `journalctl -u xow -b`. Thanks for testing.

Could be. You could ry giving the process a higher priority though.

I've made some general connection reliability/range improvements to xow (available in the [`reliability`](https://github.com/medusalix/xow/tree/reliability) branch). There's a *very*

[2020-02-24 21:58] l0ud commented on #35
@medusalix OK, so I performed some testing and I have good news.
Thread priority does not seem to be the cause. I tried boosting it and still got disconnects.
However, I tested reliability branch and played like 30 minutes without any problems.
I went back to master branch - instant disconnect on game launch.
Back to reliability - no issues at all. Tried changing locations in game to stress some C

[2020-02-25 20:16] Mernst1 commented on #35
Can confirm, it's working for me to now.

[2020-02-26 13:24] webodan opened #39 "xow stops working after suspending and waking up the computer"
Hi,

Basically title is what's happening. I've noticed that after waking up the computer and trying to sync the controller, xow would not work, so I rebooted the service using `systemctl` and it's working fine again. This might not be appropriate for a retropie style build like the one I'm trying to make, so it would be fine if the program was able to be aware that it resumed from sleep and kept w

[2020-02-26 15:31] iroedius commented on #37
Just to confirm, I also have the 1790 version of the dongle and my Elite 2 also won't pair.

[2020-02-26 23:21] zakaprov commented on #35
@medusalix I tested the version from [`reliability`](https://github.com/medusalix/xow/tree/reliability) branch under very similar conditions as in my initial issue report (i.e. with two controllers used simultaneously to play). During the ~40 minute session I didn't encounter any problems, the connection on both controllers was solid.
Given the others' reports I'd say this resolves the issue and r

[2020-02-27 14:26] pierrecollignon commented on #35
Confirm, this is working perfectly now. I feel like windows. Is it because of the automated channel switching, you think ?

[2020-02-28 15:00] medusalix commented on #35
I'm really glad that it works 😄. I still need to do some testing before merging this into `master`. I'm not exactly sure what the code changes actually *do* in terms of the wireless connection and that's something I'd like to know. *If* these changes actually enabled automated channel switching, then it is probably implemented in the firmware.

[2020-02-28 15:13] zakaprov commented on #35
Got it, that makes sense. The remark about merging was overly-enthusiastic on my part I guess. :D In any case, I'll keep running the driver off `reliability` branch for now. Is there any reason for you to think this affects the channels being used?

[2020-02-28 15:35] djibux commented on #35
What’s the proper way to install a new version of the driver?  I am still experiencing issues after switching to `reliability` but I am not sure if I follow the proper process.  Do I need to uninstall the previous driver first?

[2020-02-28 16:04] zakaprov commented on #35
@djibux You can check your `xow` logs to see which version you're currently running.
Assuming you're running the driver as a `systemd` service, this will give you the `xow` logs since last machine boot: `sudo journalctl -u xow -b`.
The first log line should include the version, e.g.: `xow v0.3-9-g4edcee5`. The tail of the version string includes the first few characters of the last commit hash it'

[2020-02-29 14:19] djibux commented on #35
Thanks, I will try that.  I was not using `make clean`.

[2020-02-29 16:05] medusalix commented on #39
I've done some testing and it seems like `libusb` is returning `LIBUSB_TRANSFER_NO_DEVICE` after waking up the computer. This usually only happens when you physically remove the dongle. I'll probably have to make some adjustments to xow to handle this case.

[2020-02-29 17:36] medusalix commented on #35
Yes, definitely. The change that fixed this issue was most likely the introduction of [channel candidates](https://github.com/medusalix/xow/blob/a1fdf057c564601803bc864352b1f1a09030c987/dongle/mt76.cpp#L616). The Windows driver goes through a bunch of channels on startup, taking measurements that probably decide whether that specific channels ends up in the list of candidates (xow uses a hardcoded

[2020-02-29 17:36] #35 closed

[2020-03-04 01:49] NoXPhasma opened #41 "xow generates too long Rumble in some games"
In some games, in my case I can reproduce it in [SteamWorld Dig 2](https://store.steampowered.com/app/571310/SteamWorld_Dig_2/), the rumble is **way** too long. Instead of a short light rumble, when hitting a rock, with the controller connected by wire, it rumbles for several seconds. And even overlaps and makes the rumble more intense.

Debug log output:
[code]

Tell me if you need any more infor

[2020-03-06 10:11] medusalix commented on #41
Hmm, I'm not sure how I can fix this in xow. The game should be sending a force feedback command with a magnitude of zero (weak: 0, strong: 0) to stop the rumbling (which it doesn't do). It probably expects the rumbling to stop after the specified `length` parameter (ignored by xow). Ideally, we'd need something like [`ff-memless`](https://github.com/torvalds/linux/blob/master/drivers/input/ff-mem

[2020-03-08 21:52] medusalix commented on #39
@webodan Please try out the [`suspend`](https://github.com/medusalix/xow/tree/suspend) branch (make sure that the updated service definition gets loaded). While I couldn't find a way for xow to recover after a suspend, I made sure that the service restarts when the system wakes up.

[2020-03-09 20:00] medusalix commented on #5
So apparently one of the recent commits (76fac9f7fd052c33752aa91bf8d5a3ed0bcf8904) that fixed the occasional disconnects also resolved the prevalent pairing problems with the 1537 controllers. The only issue that remains is the *double-association* the controller performs right after the pairing (which doesn't impact the usability in any way):

![pair](https://user-images.githubusercontent.com/812

[2020-03-09 20:03] medusalix commented on #29
@g00sed @iroedius Are the pairing problems still present in the latest version of the driver?

[2020-03-09 21:46] offalynne commented on #5
i do not, sorry

[2020-03-14 22:32] medusalix commented on #39
@NoXPhasma and @andreashuetter, could you try this out for me? I made some significant changes to the USB backend (making it simpler) which will definitely need testing. As an inevitable result of fixing the suspend issue, xow does now terminate when you wake from sleep or unplug the dongle and is restarted automatically by `systemd`.

[2020-03-15 03:15] PopeRigby opened #43 "Controller keeps disconnecting and then reconnecting"
I'm having an issue where at seemly random points, the Xbox symbol will flash for a few seconds (indicating that the controller is disconnected) and then go solid again (indicating that it has reconnected. At first, I thought the batteries were dying, but I switched them out and checked their charge, so that wasn't the issue. I've only had this happen in the Witcher 3, but that's the only game I'v

[2020-03-15 03:33] NoXPhasma commented on #39
The service stops when the dongle gets removed, but does not restart when I plug in the dongle again.

[code]

[2020-03-15 03:35] NoXPhasma commented on #43
Please try the latest master, it should fix that behaviour.

[2020-03-15 09:39] medusalix commented on #39
Make sure that you run `systemctl enable xow` and `systemctl restart xow` after installing the branch to reload the service config.

[2020-03-15 09:43] NoXPhasma commented on #39
Yes, I've done that. It just doesn't restart itself after I remove the dongle and reconnect it.

[2020-03-15 09:49] NoXPhasma commented on #39
Okay I found the issue, `sudo make install` won't install the new service file which includes `Restart=always`. Once I update the service file manually it works.

[2020-03-15 11:01] medusalix commented on #39
It should override them. When I checkout `master`, do `install` and then checkout `suspend` followed by `install` it replaces the contents of the service.

[2020-03-15 12:24] NoXPhasma commented on #39
I expected the same here as well, but for some reason it didn't. I even tried to install it two times to get sure.

[2020-03-15 20:51] PopeRigby commented on #43
Seems to be fixed. Thanks!

[2020-03-15 20:51] #43 closed

[2020-03-15 22:30] medusalix commented on #39
Oh well, I'm just going to add a notice to run `sudo make uninstall` to the README to make sure everyone's covered.

[2020-03-18 14:01] medusalix commented on #39
Merged into `master` (196371dc40683e52af572347a94bd8193fa2a28a).

[2020-03-18 14:01] #39 closed

[2020-03-20 13:40] iroedius commented on #29
@medusalix Yes, although in my case it may have something to do with the dongle itself. Its version is 1790 which is problematic as reported in #37.

[2020-03-20 13:50] medusalix commented on #29
@iroedius Yeah, I'll have to get my hands on one of these dongles to find out why it doesn't work. I'll close this issue for now, as the problems don't seem to be related to the elite controller.

[2020-03-20 13:50] #29 closed

[2020-03-20 14:26] Kitrinx opened #44 "Chatpad support"
The XBONE Wireless dongle supports official chatpad functionality on windows PCs. Is chatpad support in the scope of this driver? It would be quite useful for multi-purpose HTPC type setups and small gaming/computing platforms like MiSTer FPGA.

[2020-03-20 14:29] medusalix commented on #5
Double-association has been fixed in commit a6bbfe4e7a3a3d3559ff7bf57f63c1bedfb5373c. Pairing 1537 controllers is now working.

![pair](https://user-images.githubusercontent.com/8124898/77172919-0dbcdb80-6abf-11ea-8fb1-fcecfd11b613.png)

[2020-03-20 14:29] #5 closed

[2020-03-20 21:57] medusalix commented on #44
Yes, definitely. I'm going to need a packet capture (using Wireshark) where you plug in the chatpad and press some buttons on it. That will help me to understand the protocol it's using.

[2020-03-21 15:11] Hielyr commented on #37
My dongle model is a 1790 and I'm able to pair just fine.

Are there some logs or anything that I can provide that could possibly help narrow down why I can pair my Elite v2 while using the 1790 dongle and others can't?

[2020-03-21 15:43] Yomas opened #45 "Model 1537 not connecting"
I'm using Ubuntu LTS 18.04 and Xbox one controller 1537 and compiled xov from github. The controller was paired on a Windows 10 machine successfully to the same dongle.
When I try to connect my controller in Linux it doesn't work. The controller is associated multiple times with a new ID.

Is there a way to debug this or is there a simple fix?

2020-03-21 16:35:00 INFO  - xow v0.4 ©Severin v. W.
2

[2020-03-21 22:21] Bur0k commented on #37
[code]
Maybe these three informations from the log could be usefull

[2020-03-22 17:29] medusalix commented on #45
Is your controller running the latest firmware version? Please check with the Xbox Accessories app.

[2020-03-23 00:00] samueloph commented on #15
@medusalix I was discussing this with a person working on the non-free side of Debian and he called out something that I accidentally missed when discussing this issue.

Again, regular disclaimer that I'm not a lawyer and this is not legal advice, as usual.

I had pointed out that:
"...it looks like you could get the blob from any of these projects and just use the same license, as their license s

[2020-03-23 11:41] medusalix commented on #15
@samueloph I've just noticed that the whole driver package is actually available from [Microsoft's update catalog](https://www.catalog.update.microsoft.com). Would it be feasible to download the driver from Microsoft's servers at installation time? Extracting the firmware from the driver's `cab` is quite easy:

[code]

If this is not possible I'll try to contact them again.

[2020-03-23 14:32] Yomas commented on #45
I've updated the controller firmware to 2.3.2381.0 as suggested but the controller will still not connect. But now I get a pairing message.
I've tried the following:
- Pair the controller on a Windows machine, swap dongle to Linux machine (controller on and off during swap): Nothing happens
- Pair the controller on Linux: I now get a pairing message, but after that the behavior is the same as befo

[2020-03-24 00:24] samueloph commented on #15
@medusalix your suggestion of downloading it at install time would not solve the issue as the license of the file might prohibit even that (to use the blob in a different way).

You should maybe contact people from openwrt or the linux kernel who maintains the mediatek chip's support, as it could be that you can use the same file as them or perhaps they can contact mediatek and provide support dir

[2020-03-24 11:05] medusalix commented on #15
@samueloph The firmware included in `linux-firmware` does unfortunately lack some of the functionality that xow needs. I don't know what modifications MediaTek made to make it compatible with Xbox controllers.

@nbd168 Do you know how to contact a MediaTek employee in charge of MT76 development? I tried reaching out to Sean Wang and multiple other people via mail but received no response. I assume

[2020-03-24 15:15] medusalix commented on #45
Alright, it looks like I'm going to need a packet capture from you (on Windows). I've summarized the instructions down below:

- Install [Wireshark](https://www.wireshark.org/). Make sure to tick the option to install **USBPcap** in the installer.
- At the bottom of the Wireshark window you should see multiple USBPcap entries.
- You have to identify which one is the correct one by clicking on one

[2020-03-24 15:19] medusalix commented on #37
@Bur0k Can you provide me with a packet capture of the USB communication (both on Windows and on Linux with xow)? I might be able to spot some differences that explain why it's not working as intended. It might take a while for me to look through all the packets though.

[2020-03-26 13:59] Bur0k commented on #37
The two capture files in the attached zip archive.
[pcapng.zip](https://github.com/medusalix/xow/files/4387534/pcapng.zip)

I bought the Controller+Dongle bundle from otto(dot)de

[2020-03-26 15:55] Yomas commented on #45
Will do as soon as I get my hands on the windows machine again. Sadly I currently have no access to a Windows 10 machine.

[2020-03-27 20:58] LorenzoMinutolo commented on #4
Hi All,
Thanks for this beautiful library, keep it up!
I'm testing now on Ubuntu 18, wireless dongle slim and Turtle Beach 600. The pairing goes well, the device does not show anywhere (expected). Running ./xow I get this:
![screen_xow](https://user-images.githubusercontent.com/33332069/77799888-f9cf2780-7032-11ea-85d6-cdb1fb9090aa.png)

[2020-03-27 21:09] medusalix commented on #4
@LorenzoMinutolo I'm currently focusing on implementing the audio for the controllers first, I might consider supporting third-party headsets for a future release.

[2020-03-31 15:13] Kwik117 opened #46 "Installing on linux mint 19.3"
It doesnt seem to be installing, Not sure why. Im a novice linux user, so not really familiar with error codes and all that in terminal. Just wondering if there is a different set of commands for my version of linux.

[2020-03-31 15:17] WernerAUT commented on #46
i built it today in Mint 19.3 you need to do the following
apt install libusb-1.0-0-dev build-essential
after that follow the guide
it could also be that you miss git so for that you also have todo
apt install git

[2020-03-31 21:04] medusalix commented on #45
Could you please check if the latest changes to xow made any difference regarding your problem?

[2020-03-31 21:15] Kwik117 commented on #46
Thanks, trying it now.

[2020-03-31 22:08] Kwik117 commented on #46
your a genius thank you. its working great.

[2020-04-01 10:13] #46 closed

[2020-04-01 16:44] Yomas commented on #45
Sadly the changes did not fix the issue but I noticed a small difference. After pairing the xbox button stays lit for ~1 second before starting to blink again. Trying to connect a paired controller still shows no visible actions.

I've created the logs you requested:
https://filebin.net/ku6exhnd3z7ic2vm
There are two logs, one from pairing the controller and one from connecting the (paired) contro

[2020-04-02 12:48] WernerAUT opened #47 "Dongle 1790 issue? LIBUSB_ERROR_NO_DEVICE"
i am not sure if this is a dongle issue or my setup issue? LIBUSB_ERROR_NO_DEVICE could that be a different issue?
I tried to connect with

Xbox One Wireless Controller 1708
Xbox One Wireless Controller Elite 2 1797

[code]
dmesg shows me that

[code]

[2020-04-03 10:48] medusalix commented on #47
It's probably an issue with your Linux system or `libusb`. The `LIBUSB_ERROR_NO_DEVICE` error code is usually thrown when you disconnect the dongle. You might want to try to plug the dongle into another USB port to see if it works.

[2020-04-03 10:53] WernerAUT commented on #47
i tried already different ports but its the same, i will install on a different pc a different Linux Distribution to test, but i think maybe it is same as others have also issue with 1790 Dongle

[2020-04-03 14:04] medusalix commented on #44
@TyanColte I found your comment regarding packet captures of the chatpad on `360Controller`'s issue tracker. I'd like to implement chatpad support for this driver, would you be so kind as to do a USBPcap capture for me? I can't get my hands on a chatpad as they seem to have been discontinued.

[2020-04-03 21:03] SerafinTech commented on #45
I'm having the same issue.

[2020-04-03 21:17] WernerAUT commented on #47
tested now on

Linux Mint 19.3
Ubuntu 20.04 beta
Manjaro 19.0.2

on all the same issue no connect

FYI: Adapter was bought from Microsoft Shop

[2020-04-04 09:51] medusalix commented on #45
@Yomas I've looked through the captures and noticed something that *could* be the cause of the problems. Would you mind doing a packet capture on Linux too? That might help me to narrow down my findings.

[2020-04-04 13:53] Rathna-K opened #48 "Question: what is the use of firmware.bin? Will it still work with windows after using this ?"
Question: what is the use of firmware.bin? Will it still work with windows after using this or will it break the windows functionality of the dongle? Nice work btw. Thank you!

[2020-04-04 14:05] medusalix commented on #48
The `firmware.bin` file is loaded onto the wireless chip inside the dongle (MediaTek MT76xx) every time you plug the dongle into your computer. No matter if you use the original Windows driver or the Linux driver, the chip needs the firmware to operate. The firmware included with xow is in fact the exact same file you would get if you extracted the builtin Windows driver, so the use of xow doesn't

[2020-04-04 14:58] Rathna-K commented on #48
Got it, so like its on volatile memory so the OS loads the firmware every time I guess? Thanks for clarifying.

[2020-04-04 17:24] medusalix commented on #48
Yes, exactly. It even allows you to use the dongle as a standard WiFi dongle by running a different [driver](https://github.com/openwrt/mt76) and firmware.

[2020-04-04 17:26] #48 closed

[2020-04-04 18:19] Yomas commented on #45
Sure no problem (hoping I captured the right device):
https://filebin.net/spxgqp2w1m6tqvfx

[2020-04-05 08:11] cristianovitorino commented on #6
@medusalix Unfortunately the `upower` mantainer seems uninterested in helping. I was thiking in responding but maybe you can make a better argument there?

Also, the projects [xpadneo](https://atar-axis.github.io/xpadneo/) and specially [Solaar](https://pwr-solaar.github.io/Solaar/) which is a driver that deals with Logitech proprietary receivers for mice can offer some insight maybe, as both of t

[2020-04-05 11:49] medusalix commented on #45
Thanks. I've pushed a fix to the [`probe`](https://github.com/medusalix/xow/tree/probe) branch, let me know if it works.

[2020-04-05 12:05] Yomas commented on #45
Sadly no.

Pairing:
2020-04-05 14:04:15 INFO  - xow v0.4-7-g8da08ae ©Severin v. W.
2020-04-05 14:04:15 DEBUG - Opening device...
2020-04-05 14:04:16 INFO  - Dongle plugged in
2020-04-05 14:04:16 DEBUG - Firmware already loaded, resetting...
2020-04-05 14:04:16 DEBUG - Firmware loaded
2020-04-05 14:04:16 DEBUG - ASIC version: 7632
2020-04-05 14:04:16 DEBUG - Chip id: 7613
2020-04-05 14:04:16 INFO

[2020-04-06 09:48] HPRIOR opened #49 "OSMC LIBUSB_ERROR_NO_DEVICE"
The driver is successful while running on Raspbian, but not on kodi/OSMC (on the same machine - raspberry pi 3 b+).

osmc version:
4.19.55-6-osmc

dmesg:
[2.452045] usb 1-1.2: new high-speed USB device number 4 using dwc_otg
[2.583039] usb 1-1.2: New USB device found, idVendor=045e, idProduct=02e6, bcdDevice= 1.00
[2.583047] usb 1-1.2: New USB device strings: Mfr=1, Product=2, SerialNumber=3
[2.58

[2020-04-07 05:43] rqtruong opened #50 "make BUILD=RELEASE fatal error"
Hi there, thanks for making this driver! I was able to install the package but make BUILD=RELEASE gave this fatal error:
`make BUILD=RELEASE
g++  -Wall -Wpedantic -std=c++11 -MMD -O3 -DCHANNEL=1 -DVERSION=\"v0.4-6-ga3dcb38\" -c -o xow.o xow.cpp
In file included from xow.cpp:20:0:
dongle/usb.h:28:10: fatal error: libusb-1.0/libusb.h: No such file or directory
 #include <libusb-1.0/libusb.h>

[2020-04-07 06:49] WernerAUT commented on #50
follow this please i wrote what is needed under Mint 19.3
https://github.com/medusalix/xow/issues/46

[2020-04-07 07:07] rqtruong commented on #50
Thanks! It was libusb-1.0-0-dev that I was missing.

[2020-04-07 07:07] #50 closed

[2020-04-07 09:17] BrianPHChen commented on #47
I met the same problem

[2020-04-07 09:29] WernerAUT commented on #47
@BrianPHChen do you have Dongle Version? would be also good wehn you post also terminal output like i did, so first uninstall xow and ten build xow with DEBUG

[2020-04-07 09:30] medusalix commented on #47
@WernerAUT Could you do a USB packet capture of the dongle using Wireshark for me (on Linux where it's failing)? I can't promise to fix this problem but I'd like to take a closer look.

[2020-04-07 09:37] BrianPHChen commented on #47
OK, I build a debug version one and post the information later.
BTW, I used latest raspbian

[2020-04-07 10:12] WernerAUT commented on #47
@medusalix i hope that is ok
[linux.zip](https://github.com/medusalix/xow/files/4443498/linux.zip)

[2020-04-07 10:31] BrianPHChen commented on #47
Raspbian version: Feb 2020
Getting the same message to @WernerAUT
![Screen Shot 2020-04-07 at 6 27 35 PM](https://user-images.githubusercontent.com/7158388/78659339-f9217580-78fd-11ea-9d1e-3f2158f8fbb8.png)

[2020-04-07 10:31] medusalix commented on #37
@Bur0k While looking through the packet captures of people that had similar issues, I've noticed a **very** strange behavior of the Windows driver: The source address of the beacon frames is (in your case) *not* the actual MAC address read from the dongle. It's `62:45:bd:00:d1:ca` despite the reading from the EEPROM being `6c:5d:3a:00:d1:ca`. That might explain why the controllers didn't connect t

[2020-04-07 10:36] WernerAUT commented on #47
so yours is also the 1790 dongle, maybe medusalix can find out the issue, would be great to use this dongle :) else i need to look around and find a older version

[2020-04-07 11:03] BrianPHChen commented on #47
Yeah, I'm trying to make raspberry pi as a portable game station. So, really want to make the dongle work for multiple players.

[2020-04-07 15:49] medusalix commented on #47
Are you running `./xow` while still having the system service enabled?

[2020-04-07 16:02] medusalix commented on #49
You should *never* run xow from `/usr/local/bin` manually, as it interferes with the system service. A simple reboot after running `sudo systemctl start xow` (as described in the README) is usually enough to get it running. To my knowledge, this can lead to the `LIBUSB_ERROR_NO_DEVICE` you are getting.

[2020-04-07 16:09] WernerAUT commented on #47
yes, you are right that is the issue with LIBUSB_ERROR_NO_DEVICE i made now

sudo systemctl stop xow
sudo systemctl disable xow

and started then from terminal xow and now no LIBUSB_ERROR_NO_DEVICE anymore, but controller still doesn't connect, when i start pairing the controller blinks fast and then after sometime it starts blinking slow again, dongle also still blinks with same speed.

I made an

[2020-04-07 16:17] WernerAUT commented on #47
I made now also for you a USB packet capture with Wireshark in Windows, I installed Windows today on one of my PC :)
[Windows.pcapng.zip](https://github.com/medusalix/xow/files/4445787/Windows.pcapng.zip)

there it is pretty fast and connect without issues

[2020-04-07 16:31] WernerAUT commented on #49
thats correct i can confirm that LIBUSB_ERROR_NO_DEVICE won't show up if you don't run xow in terminal with

sudo systemctl stop xow
sudo systemctl disable xow

[2020-04-07 17:07] HPRIOR commented on #49
Sorry I should have said in my initial comment that the steps taken after the discussion on a forum were because it did not work initially (on OSMC) after following the steps in the README

[2020-04-07 17:09] HPRIOR commented on #49
Have you tried on OSMC?

[2020-04-07 17:19] medusalix commented on #6
@cristianovitorino I think he's generally unconvinced of the necessity of proper upower integration for standard user mode software. Kernel drivers like `xpadneo` are already able to use `power_supply_register` to make their battery information available to upower and `Solaar` (being a rather popular project) apparently has its own [integration](https://gitlab.freedesktop.org/upower/upower/-/blob/

[2020-04-07 17:32] WernerAUT commented on #49
no sorry for hijacking your report

[2020-04-07 19:02] medusalix commented on #47
Thank you for the captures. It seems like you're having the exact same problem as described in issue #37, so I suggest we close this issue in favor of the existing one.

[2020-04-07 19:16] WernerAUT commented on #47
so also the Mac Adress issue, ok i am fine to close it.

[2020-04-07 19:16] #47 closed

[2020-04-07 22:50] AlterDaddler opened #51 "Cant pair Model 1797 (newest controller firmware)"
Hi,

first of all thnx for the great work!
My XBOX Elite Controller (2019) cant be paired. It seems that the dongle cant find any device.

5.6.2-arch1-2

2020-04-08 00:46:06 INFO  - xow v0.4-6-ga3dcb38 ©Severin v. W.
2020-04-08 00:46:06 DEBUG - Opening device...
2020-04-08 00:46:06 INFO  - Dongle plugged in
2020-04-08 00:46:06 DEBUG - Firmware already loaded, resetting...
2020-04-08 00:46:06 DEBUG

[2020-04-08 07:52] BrianPHChen commented on #49
@HPRIOR I still can't pair my controller to the dongle on the raspbian. How do you get this done?
I follow all the steps on README and reboot the machine.

My dongle number is 1790 and controller number is 1708

[2020-04-08 08:03] WernerAUT commented on #49
@BrianPHChen i think you have the same issue (MAC different to EPROM) as most with the new 1790 dongle, you should follow https://github.com/medusalix/xow/issues/37 medusalix is working on a fix

[2020-04-08 09:12] WernerAUT commented on #51
you have the same issue as most with the new 1790 dongle have, as it seems dongles starting with MAC Address 6c: have this issue, you should follow #37 medusalix is working on a fix

[2020-04-08 09:34] medusalix commented on #37
@WernerAUT I've implemented a fix in the latest commit, you might want to check it out. I also added a check make sure only one instance of xow is running at a time.

[2020-04-08 09:36] WernerAUT commented on #37
tested it already right now and it works perfect, controller connected after seconds! Well done

[2020-04-08 10:20] medusalix commented on #45
@Yomas I've just fixed an issue that caused problems for users with a wireless address starting with `6c:5d:3a`. Could you try out the latest changes from master?

[2020-04-08 12:37] iroedius commented on #37
Elite 2 controller also paired right away.

[2020-04-08 13:52] sharkwouter commented on #37
I was having the same issue, but that commit fixed it for me as well.

[2020-04-08 15:00] SerafinTech commented on #45
Your latest fix worked for me.  I did need to pair it 4 times before it started working.

[2020-04-08 16:01] Bur0k commented on #37
Updated fixed it, thanks for all your investigations and work

[2020-04-08 16:01] #37 closed

[2020-04-08 16:27] HPRIOR commented on #49
My dongle is 1713 and my controller model is 1697. So maybe it's an issue with with your hardware. Otherwise, are there any steps in the installation process that you were not confident with?

[2020-04-08 16:27] AlterDaddler commented on #51
Oh didnt see that... sry.. i close this one. Thnx

[2020-04-08 16:27] #51 closed

[2020-04-09 06:03] BrianPHChen commented on #37
Raspbian tested fine, thanks a lot

[2020-04-09 13:54] HPRIOR commented on #49
Would it help to make an add-on for kodi?

[2020-04-09 14:35] medusalix commented on #49
I don't think it needs any addons to function properly. The issue could be that OSMC is based on Debian *Stretch*, while Raspbian is actually Debian *Buster* (newer version). There might be a bug inside `libusb` that was fixed in newer Debian releases. They are apparently working on [upgrading to Buster](https://discourse.osmc.tv/t/osmc-update-to-buster/81364).

[2020-04-09 17:54] HPRIOR commented on #49
Ok. I guess I'll have to wait then!

[2020-04-09 20:04] Yomas commented on #45
That did it for me as well. Paired on the first try.

Thanks for the support.

[2020-04-09 20:42] medusalix commented on #45
I'm glad that it's working :smiley:.

[2020-04-09 20:42] #45 closed

[2020-04-11 12:15] ddragic opened #52 "Segmentation fault when exiting xow (ctrl+c)"
I noticed every time I close xow with CTRL+C (when running from cli) there is a segfault:
[code]
Sometimes the last line is `Aborted (core dumped)` instead of Segmentation fault.
Everything seems to power down correctly, the controller turns off and so does the adapter (light goes out), but it always segfaults.

This is on Fedora 31 x64 with libusbx-1.0.22-4.fc31.

gdb backtrace:
[code]
gdb backtr

[2020-04-14 06:09] PetrusZ opened #53 "coredump after connecting"
➜ sudo xow
Alias tip: _ xow
2020-04-14 14:03:25 INFO  - xow  ©Severin v. W.
2020-04-14 14:03:25 INFO  - Dongle plugged in
2020-04-14 14:03:25 INFO  - Wireless address: 62:45:b4:e7:09:7f
2020-04-14 14:03:25 INFO  - Dongle initialized
terminate called after throwing an instance of 'InputException'
  what():  Error opening device: No such file or directory
[1]    385131 abort      sudo xow

[core.xow

[2020-04-14 06:44] PetrusZ commented on #53
BTW, xow version is 0.4

[2020-04-14 09:18] medusalix commented on #53
You have to make sure that `/dev/uinput` is available (that's the reason for the `InputException`). The `uinput` kernel module should be loaded automatically when you boot your system, if it's not, you could try running `modprobe uinput` to see if it can be loaded manually.

[2020-04-14 09:31] medusalix commented on #52
Thanks for the report, I've seen this issue a couple of times but couldn't reproduce it reliably. I suppose it happens because I run two threads that read from the USB device using `libusb_bulk_transfer` which get interrupted when `libusb_exit` is called during Ctrl+C handling. There's no way to stop those threads before exiting because `libusb_bulk_transfer` itself is blocking, so I'm not sure ho

[2020-04-14 09:34] PetrusZ commented on #53
Thank you, problem fixed.

[2020-04-14 09:34] #53 closed

[2020-04-14 22:03] ddragic commented on #52
Well, if you figure something out just let me know, I can test it since it's reproducible pretty reliably on this system.

[2020-04-15 09:47] medusalix commented on #4
I've implemented experimental headphone support, available in the [`audio`](https://github.com/medusalix/xow/tree/audio) branch (only audio output right now). I'm still working on it, so please don't be surprised if you hear any crackling noises.

**Important notes**: You will have to install the PulseAudio libraries to compile xow. The PulseAudio daemon is usually running as a user-service and re

[2020-04-15 13:49] andreashuetter commented on #4
I just tried the `audio` branch.

First I could not compile it, but after performing `sudo apt-get install libpulse-dev` I could.

Also also did a `sudo make uninstall` of the other version before.

But I can not `enable` or `start` the `audio` version:

[code]

[2020-04-15 15:16] medusalix commented on #4
@andreashuetter Make sure to run `systemctl --user` *without* `sudo`.

[2020-04-15 15:43] andreashuetter commented on #4
Well, the reason why I tried it with `sudo` was that without `sudo` I always got:

`desktop@sn970:~/xow$ systemctl --user enable xow.serviceFailed to execute operation: No such file or directory`

But now I tried
`systemctl --user enable /lib/systemd/user/xow.service`
and this at least did not return any error message.

But it doesn't seem to work at all. After
`systemctl --user enable /lib/system

[2020-04-15 16:37] andreashuetter commented on #4
Silly me, of course `systemctl status xow` is the wrong command in this case.

`systemctl --user status xow` is the way to go here
[code]

But after some trying I fear that this version is not suited for SteamOS.

The thing is, when SteamOS is started it always starts in Big Picture Mode and everything is run by the user `steam`.
In Big Picture Mode there is no desktop, no terminal window and so o

[2020-04-15 17:55] medusalix commented on #4
Hmm, I think you could try using the old `xow.service` file with the new `audio` branch. I've noticed that you're running PulseAudio as a system-wide daemon (`--system`), whereas most modern Linux distribution start individual instances of PulseAudio for each user, so a system-service might even work in your specific case.

[2020-04-16 00:35] TauAkiou commented on #4
I tried on Fedora 31, built and worked up until I plugged in a pair of headphones, then crashed:

Kernel: 5.5.15-200.fc31.x86_64

[code]

[2020-04-16 05:55] andreashuetter commented on #4
I tried what you suggested: Using the old xow`.service` file with the new `audio` branch (on SteamOS).
The result is that the controllers work as expected, but when I plug in the headset, nothing happens (the controller is still working). I tried to select the headset for audio output, but it didn't appear anywhere.
I guess connecting the headset to the controller is supposed to lead to an additio

[2020-04-17 15:14] medusalix commented on #4
@TauAkiou It looks like it identified your headphones as an input device. I fixed this problem in the latest commit, but you might run into the same issue as @andreashuetter.

Yes, it creates an audio sink for the controller's input (currently non-functional) and an audio source for the output. In your case, it seems to get stuck during the audio initialization (it should normally log `Audio enabl

[2020-04-17 17:12] avdz opened #54 "xow crashing when started with systemctl"
Hi,

I've an issue with xow:
I can't seem to start xow with systemctl. It exits after receiving a permission denied error.
I can start it without issue manually.

It seems that it is similar to #23
I've tried following commands to trigger the udev rules again but it does not change the permission of the /dev/uinput file

Why could this be?

[2020-04-17 17:31] medusalix commented on #54
Have you done a restart after installing xow? As far as I know the udev rules only trigger when `/dev/uinput` is created when the system boots.

[2020-04-17 20:34] avdz commented on #54
Yes I did.
Is it possible that this steamlink rule is alse changing the /dev/uinput permission?
`sudo cat /lib/udev/rules.d/55-steamlink.rules
# USB devices
SUBSYSTEM=="usb", GROUP="plugdev"

# HID devices
KERNEL=="hidraw*", GROUP="input", MODE:="0660"`

[2020-04-17 21:04] medusalix commented on #54
Probably not, as these rules only affect USB and HID devices.
Please try replacing the last line in `/lib/udev/rules.d/99-xow.rules` with the following (and reboot):

[code]

[2020-04-18 16:16] Aerol commented on #4
Building audio branch and running xow from source directory I get the following output

2020-04-18 11:11:02 INFO  - xow v0.4-19-gdfed4ea ©Severin v. W.
2020-04-18 11:11:02 DEBUG - Opening device...
2020-04-18 11:11:02 INFO  - Dongle plugged in
2020-04-18 11:11:02 DEBUG - Firmware already loaded, resetting...
2020-04-18 11:11:02 DEBUG - Firmware loaded
2020-04-18 11:11:02 DEBUG - ASIC version: 7632

[2020-04-18 18:18] medusalix commented on #4
@Aerol Please check if the newest commit fixed it.

[2020-04-18 18:38] Aerol commented on #4
It has indeed!
Now getting more proper output

2020-04-18 13:35:39 DEBUG - Hardware version: 2.1.1.1
2020-04-18 13:35:39 INFO  - Device type: headset
2020-04-18 13:35:41 INFO  - Device announced, id: 02e4

[2020-04-19 21:15] NTMan opened #55 "cow immediately crashes after connecting the headset to the gamepad"
I decided to check how works xow with audio.
And builded xow from the audio branch (fe2b41ae632120c6a334520c5ffd79d531c35240).
Testing ended immediately after connecting the headset to the gamepad as xow immediately crashed.

Here is log + backtrace [xow-backtrace.txt](https://github.com/medusalix/xow/files/4500284/xow-backtrace.txt)

[2020-04-20 14:00] medusalix commented on #55
Should be fixed in 070fbb7889cf7abe6f24b0fd4cd0e2f0aae1c4cb.

[2020-04-20 14:09] NTMan commented on #55
Unfortunately cow continue crashed even on 070fbb7889cf7abe6f24b0fd4cd0e2f0aae1c4cb
[xow-backtrace2.txt](https://github.com/medusalix/xow/files/4503986/xow-backtrace2.txt)

[2020-04-20 14:21] medusalix commented on #55
That's related to PulseAudio refusing xow's connection. Could you check if PulseAudio is running in system-mode (with `ps ax | grep pulse`)?

[2020-04-20 14:31] NTMan commented on #55
[code]

[2020-04-20 14:42] medusalix commented on #55
It looks like PulseAudio is running with user privileges which should be fine. Do commands like `pactl info` work? If not, you might have to add your user to the `audio` group. I'm not sure how PulseAudio is configured on your system, so I can only guess what's going wrong. You basically have to allow applications to access the PulseAudio daemon somehow.

[2020-04-20 14:44] NTMan commented on #55
[code]

[2020-04-20 14:50] medusalix commented on #55
Did you configure `xow` as a `systemd` *user* service?

[2020-04-20 14:53] NTMan commented on #55
No, I launch `xow` from terminal `$ sudo ~/packaging-work/git/xow/xow`

[2020-04-20 14:56] medusalix commented on #55
That's most likely the issue :smiley:. PulseAudio doesn't allow connections from `root`, so you have to launch xow without `sudo`. Make sure that you installed the `udev` rules, so xow has access to the USB and uinput devices.

[2020-04-20 15:19] avdz commented on #54
Nope still
pi@SteamLink:~ $ ls -la /dev/uinput
crw-rw----+ 1 root input 10, 223 Apr 20 17:16 /dev/uinput

[2020-04-20 15:29] #54 closed

[2020-04-20 18:08] medusalix commented on #4
@andreashuetter Your issue should most likely be fixed now.

[2020-04-21 05:46] andreashuetter commented on #4
Thank you!
So I did some additional tests with your latest `audio` commit.

This is what I did:
First I uninstalled xow completely and made sure there was no xow binary and no xow.service file anymore on my system.
Then I checked out the latest `master` branch, compiled it and made
[code]
to get the proper service file.

After that I switched to the `audio` branch, compiled that as well (but did n

[2020-04-21 12:07] nkoester opened #56 "Random controller disconnects"
Similarly to issue #35 I still experience random controller disconnects, however not too often. Logs of such occasions are:

[code]
[code]

Using arch and installed the xow-git version. xow runs as a system service as suggested in the package in the [PKGBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=xow-git) Am I doing anything wrong here?

I now build the debug version to gather fu

[2020-04-23 00:20] thewoza opened #57 "Range issues between controller and dongle"
OS - Elementary OS
Controller - 1708
Dongle - 1790

Hi. Moving the controller more than about 1.5m away from the dongle results in disconnects with the controller reconnecting almost immediately when moved back into range. This doesn't happen on Windows so I'm assuming the hardware is good and I've tried various different 2.4GHz and 5GHz channels (although I'm not sure how to check if the channel

[2020-04-23 15:18] mooock commented on #56
I also see a lot of disconnects and connects, and sometimes it ends with no controller are able to connect without a reboot of the PI4, maybe some services could be restart to make it work again, but for me it seems like the issue is only when having two controllers connected and playing at the same time. i couldn't reproduce it with both controller turned on and only using player 1

[2020-04-23 22:09] Aerol commented on #4
Things seem to be working ok on my end with commit 070fbb7889cf7abe6f24b0fd4cd0e2f0aae1c4cb

I can even hear myself in my headset, but it seems to happen regardless of audio being muted in PA. Possibly something happening internally on the controller?
I'm not 100% positive but I believe what needs to be created are a sink and source for audio to be routed to, not audio streams. We need to be able

[2020-04-24 06:43] mooock opened #58 "Boot of PI4 sometimes does not connect controllers"
I run on a fully updated retro bliss image from Vman. and have installed XOW, all other controller drivers has been uninstalled and have a xbox elite and xbox one s controller connected. sometimes after a full reboot with power off, the controller won't connect, then i can reboot once again and suddenly it works fine.

[2020-04-24 12:33] medusalix commented on #57
Well, I'm not even sure if that setting has any consequences anymore since I've introduced channel switching (76fac9f7fd052c33752aa91bf8d5a3ed0bcf8904, don't ask me how that actually works, I don't even know). I can only assure you that I'm getting **5+ meters** of wireless range with xow *through a wall* into the next room, although there are certain spots where the signal drops for xow but not f

[2020-04-24 18:56] medusalix commented on #4
Not that I'm aware of. Input from the controller (microphone) is sent to a PulseAudio sink and output to the controller (headphones) is read from a PulseAudio source. The actual routing of the sink and source to your audio hardware is completely up to PulseAudio's configuration and can be changed via `pavucontrol`. It defaults to your standard input and output devices, that's the reason you hear y

[2020-04-24 20:57] medusalix commented on #56
@nkoester I'm not sure if I'll be able to help you, as these edge cases (and especially connectivity issues) are always hard for me to diagnose. The debug logs will be a good start, but a full USB packet capture might provide additional insights.

[2020-04-25 03:55] Aerol commented on #4
Applications create playback and/or recording streams that can connect to device sinks and/or sources.

I can connect the recording stream (PulseAudio source) created by xow to my main output monitor and can hear it in my headset, eg play music and I hear it in my headset.
![image](https://user-images.githubusercontent.com/6661/80263390-196b6700-8656-11ea-88db-667219859aa5.png)

If microphone audi

[2020-04-25 13:30] musse commented on #54
I had the same issue and changing the MODE to `0666` on the `lib/udev/rules.d/56-steamlink.rules` also did the trick. I'm using xow and steamlink on a Raspberry Pi 4.

Relevant thread in the Steam Link RPi forums: https://steamcommunity.com/app/353380/discussions/6/2260187517782948889/

[2020-04-26 03:19] refeved opened #59 "Send pair command dirrect to wireless dongle"
I'm wondering is there a way to send pairing command to USB dongle? So that we don't have to press the pair button on dongle manually. I know this is kind of silly, but I need this feature for specific project. Can you please provide some guidance, and I will try to make it work.

[2020-04-26 09:31] #55 closed

[2020-04-26 09:47] medusalix commented on #49
I'll close this for now, but please feel free to reopen this issue if you still encounter this bug after upgrading to Debian Buster.

[2020-04-26 09:47] #49 closed

[2020-04-26 09:59] medusalix commented on #59
Sure, great idea. The pairing mode is actually very simple: The dongle's wireless beacon frame contains a single byte that has to be set to `1` to enable the pairing. All you need to do is call `Mt76::writeBeacon(bool pairing)` with `pairing` set to `true`. Alternatively, you could hardcode the value of the `pairing` parameter to `true` in the `writeBeacon` to keep the dongle in pairing mode at al

[2020-04-26 10:32] mooock commented on #56
yesterday i tried playing for 4 hours, and when only using one controller there is  no issue. I started playing with two controllers, and after 10 min the first controller disconnected/reconnected, after that it worked fine for an hour. I also tried two different dongles. i will next try out some different controllers.

also i might look into doing a debug version, but have no experience how to cr

[2020-04-26 11:48] medusalix commented on #4
Yes, makes perfect sense. I think I mixed up quite a lot of things in my last reply, sorry about that. When I did the initial research on how to create audio devices in Linux from user space, I came to the conclusion that the only way that would work would be to develop an ALSA kernel module. People suggested to use PulseAudio, but apparently it makes things even more complicated.
The only thing l

[2020-04-26 12:19] andreashuetter commented on #59
That's truly a great idea! With one of my dongles I have the problem that the pairing button doesn't seem to work. So whenever I need to pair a controller to that dongle I need to do the following workaround to be able to actually perform the pairing:
I need to to plug the dongle into the USB port of a Windows machine and also connect the controller via a USB cable to that Windows machine. Thus th

[2020-04-26 12:35] Aerol commented on #4
lol, yes; this does sound like a very usable idea.

[2020-04-26 13:37] FrandSX commented on #30
This behavior is happening with  v0.4-11-gbea16b4 on latest retropie pi4 weekly image.
How would one add the necessary permissions?

[2020-04-26 15:35] mooock commented on #56
I have tested with the newest build. And could see it had a newer version then the previous. It seems good now. For many hours no disconnect. Will keep you posted

[2020-04-26 17:01] nkoester commented on #4
Regarding the redirection I want to point you to the `module-switch-on-connect` module documented [here for example](https://wiki.archlinux.org/index.php/PulseAudio#Switch_on_connect). I use this for automatic output switching when connecting bluetooth headphones

[2020-04-26 17:36] medusalix commented on #56
Awesome! I made some changes to the wireless channels in the latest build to make it behave like the original Microsoft driver.

[2020-04-26 19:09] ddragic commented on #59
/slightly offtopic
Yea, the button probably died. Last year I repaired a dongle with the same defect, but it's a pain to open, glued shut, the only way in I could find was to cut it open along one side.

This is the replacement button part number if anybody needs it :grin: :
Panasonic EVPAVAA1A - https://www3.panasonic.biz/ac/e/search_num/index.jsp?c=detail&part_no=EVPAVAA1A

[2020-04-27 19:57] thewoza commented on #57
I've tried the latest build and it seems to have helped - a little bit, sometimes! Range seems to have improved slightly, sometimes. other times it behaves as before.

Not very helpful I know but thats all I know. I think it's a range / signal strength issue rather than random disconnects because it will disconnect if i move it behind my laptop where it would work OK without the laptop screen betw

[2020-04-27 20:53] medusalix commented on #30
@FrandSX They should be set automatically by the udev rules that are added during installation. You might want to check if there are other udev rules that change the permissions back (like in issue #54).

[2020-04-28 00:11] benjamimgois opened #60 "Segmentation fault after a couple of minutes"
I'm using the latest xow-git and i'm having a segmentation error since the last update.

[2020-04-28 09:32] refeved commented on #59
Thanks very much for the quick reply. I managed to get it work by starting pairing in the end of Mt76::afterOpen(). Pairing will start automatically after dongle plugin. I did some tests using my dongle(model 1790) and controller(model 1708), it works as expected.

bool Mt76::afterOpen()
{
    if (!initChip())
    {
        Log::error("Failed to initialize chip");

        return false;
    }

[2020-04-29 18:14] Dragon20C commented on #59
I actually cant get my dongle to pair, the button doesnt do anything, And I know it works because I tested it on windows so I actually would love a command option to enter pair mode!

[2020-04-29 21:26] medusalix commented on #60
Please check if the error is present in the [`usb`](https://github.com/medusalix/xow/tree/usb) as well. If it is, then please run xow with `valgrind` or `gdb` to get a full stacktrace.

[2020-04-29 21:28] medusalix commented on #52
I just rewrote most of the USB code of xow (it was really unstable). Could you please check if you still get segmentation faults in the [`usb`](https://github.com/medusalix/xow/tree/usb) branch?

[2020-04-29 23:19] ddragic commented on #52
Just tried it, works great, no segfaults when closing with ctrl+c or in any other case (unplugging the dongle etc.) . Although it's spamming the controller serial number about 4 times per second :smile:
[code]

As a side note, I also noticed the dongle power usage now drops when xow exits. Previously current draw only slightly decreased and remained at about 160mA, but now it seems to go to power

[2020-04-30 07:54] skittles9823 commented on #4
So I was testing the audio branch with my controller and it works really well, obviously it can't send audio yet and that's fine for my use case, however there is one issue I noticed, and that's the fact that the controllers audio input doesn't create a new audio channel and it just hooks into the existing default, in my case the speakers, so audio is going through both my speakers and headphones

[2020-04-30 12:49] medusalix commented on #52
Hmm, this might be caused by a change in commit c4ec92d9f5cdc7d0d13eab8c2b9d1f5e5a963c0e, not the USB rewrite.

Yep, I'm setting the radio's power mode to `RADIO_OFF` when xow shuts down. I've noticed that the dongle got quite warm even when xow was not running, so this should be fixed by now.

Yes, I'll probably have to do a packet capture to figure out how to do that. The radio's datasheet menti

[2020-04-30 12:54] medusalix commented on #59
I think a handler for the [`SIGUSR1`](https://en.wikipedia.org/wiki/Signal_(IPC)#SIGUSR1) signal would be the easiest way to implement this. We could then connect that to the activation of the pairing.

[2020-04-30 15:03] medusalix commented on #4
Yep, that's the plan. I'm currently working on other things, so I put this issue on hold for now.

[2020-04-30 19:14] ddragic commented on #52
You're right. I commented out the serial packet handling for now, it was annoying.

Awesome, thanks. I noticed it too, that's why I measured the current to see the difference between xow and the windows driver.

Should we keep this issue open until this work is merged in master?

[2020-04-30 19:23] benjamimgois commented on #60
I got the same problem with the "usb" branch. Another thing i observed is that it keeps printing the controller serial number on the console the whole time it's connected. Here is log i got with `xow gdb`

https://pastebin.com/ke6MiuGY

[2020-04-30 20:13] medusalix commented on #52
Can you check if commit b148d9b3c32f36f8e8ba3eb3673d8cd07628c749 fixes the serial number issue? I'll close this issue once that's solved and I've merged my work.

[2020-04-30 20:27] ddragic commented on #52
No, b148d9b doesn't help, it's the same.

[2020-04-30 21:06] medusalix commented on #52
Please try changing this line to `out.pad(4)`:
https://github.com/medusalix/xow/blob/c4ec92d9f5cdc7d0d13eab8c2b9d1f5e5a963c0e/controller/gip.cpp#L217

I honestly don't know what specific part of that commit caused this behavior.

[2020-04-30 21:50] ddragic commented on #52
Changing the padding did it, now it's ok.

---
Just my 2c, but you probably shouldn't mess with git history in the public repo too much (if at all), it can create problems for others when they sync their local copies of the repo.
It took me a second to figure out that master HEAD now points to the previous commit and not b148d9b and the change on the usb branch earlier created a merge conflict.

[2020-04-30 21:58] medusalix commented on #52
Yeah, sorry about that. I didn't feel like cluttering the commit history by reverting that last commit, so I force pushed master (as quickly as possible to keep the number of clones small). I'll avoid force pushing feature branches in the future.

[2020-05-01 09:47] #52 closed

[2020-05-01 13:55] Thib1404 opened #62 "what(): Error opening device: Permission denied"
I am using a fresh install of Raspbian GNU/Linux 10 (buster) on a Raspberry Pi 3 B v1.2 and a Xbox One controller 1537 that I am planning to use with Steam link. I have a large wireless dongle. It works fine on Windows 10. I have installed xov successfully and the service is running. Yet, when I try to pair the controller I have the following error displayed with "sudo systemctl status xow" :

● x

[2020-05-01 14:15] medusalix commented on #62
We've had this issue a couple of times already: Most of the time users didn't reboot after installation or had conflicts with existing `udev` rules. Please take a look at issues #54 and #23.

[2020-05-01 14:44] FrandSX commented on #62
The conflict with Steam Link udev rules is also noted on the [Steam Link Discussions](https://steamcommunity.com/app/353380/discussions/6/2260187517782948889/)

The solution in #54 fixed the same problem for me.

[2020-05-01 16:34] Thib1404 commented on #62
Indeed, thank you for your quick support ! I haven't looked deep enough in the past issues.. The solution #54 worked for me !
In this file /lib/udev/rules.d/56-steamlink.rules

[code]

I changed the MODE to 0666 and it works as expected !

[2020-05-01 16:34] #62 closed

[2020-05-01 20:12] medusalix commented on #60
Sorry for being a bit unclear in my previous answer. What I actually meant was to run xow with the [`valgrind`](https://valgrind.org/) tool (e.g. `valgrind ./xow`). This should tell me exactly where the segmentation fault happens. Please also do a packet capture with Wireshark (on Linux). You can follow [this guide](https://wiki.wireshark.org/CaptureSetup/USB#Linux) for further instructions on tha

[2020-05-02 03:09] skittles9823 commented on #4
@medusalix Awesome, glad to hear.

[2020-05-02 12:12] medusalix commented on #59
Enabling the pairing mode via `SIGUSR1` is now implemented in the `signal` branch. You can use *any* of the following commands to trigger the pairing:

[code]

Please note that the signal handler is only installed **after** you plug in the dongle. The default behavior for `SIGUSR1` (if not handled) is to terminate the process.

[2020-05-02 16:33] andreashuetter commented on #59
Brilliant!

I just tried the `signal` branch and typing `sudo systemctl kill -s SIGUSR1 xow` turned the dongle into pairing mode, just like expected! Paired one controller with my dongle that has a defect pairing button, and it worked!

Great, thanks!

[2020-05-03 05:46] benjamimgois commented on #60
Hey @medusalix , sorry for my late. Here is the output of xow-git with valgrind, hope it helps. And just to remember, the latest stable release works fine.

https://pastebin.com/G0x3qMmy

I'll try to make a wireshark capture tomorrow

[2020-05-03 12:35] medusalix commented on #60
Please run the *debug* build of xow with valgrind (`make BUILD=DEBUG`). The release version doesn't print any code references, so I can't see where it is failing.

[2020-05-03 20:19] medusalix commented on #59
@Dragon20C If you want you can do a Wireshark USB packet capture (where you press the dongle's button) and send that to me so I can figure out why the button doesn't work in your case.

[2020-05-04 08:46] Dragon20C commented on #59
@medusalix Hello! I have got wireshark setup on linux, could you please send me a quick guide on how to capture the usb dongle or walk me through it please!

[2020-05-04 09:32] Dragon20C commented on #59
@medusalix I also tried the xow signal branch but receive this error

`  sudo ./xow
[sudo] password for carlos:
2020-05-04 10:29:13 INFO  - xow  ©Severin v. W.
2020-05-04 10:29:13 INFO  - Waiting for device...
2020-05-04 10:29:13 DEBUG - Opening device...
2020-05-04 10:29:14 DEBUG - Firmware already loaded, resetting...
2020-05-04 10:29:14 DEBUG - Firmware loaded
2020-05-04 10:29:14 ERROR - Error

[2020-05-04 10:13] medusalix commented on #59
@Dragon20C The `LIBUSB_ERROR_NO_DEVICE` error *could* indicate a hardware issue (e.g. unstable Linux drivers for your USB controller). Please run `dmesg` and upload the output. Did you try running xow on some other Linux computer (with a different hardware configuration)?

[2020-05-04 12:12] Dragon20C commented on #59
@medusalix the funny thing is, if I install xow from source not the signal branch it doesn't error out, I am not at the computer atm will do as you say when I can!

[2020-05-04 16:29] Dragon20C commented on #59
Hello again! @medusalix I have the output here.
[Output for dmesg.txt](https://github.com/medusalix/xow/files/4575855/Output.for.dmesg.txt)

[2020-05-04 17:18] medusalix commented on #59
@Dragon20C Are you running multiple instances of xow? Make sure that the systemd service is stopped before executing the binary from the `signal` branch.

[2020-05-05 04:06] benjamimgois commented on #60
@medusalix i think now i got it right. Take a look

https://pastebin.com/xPWWNyWM

[2020-05-05 13:51] medusalix commented on #60
Thank you, that was very helpful. I've pushed a fix to master. I'm a little bit concerned about those `Pairing initiated` messages in your initial post. Did you actually press the pairing button or is that another bug :sweat_smile:?

[2020-05-05 13:56] benjamimgois commented on #60
@medusalix i recentely wiped my old manjaro installation and made a new one. After that the paring messages disappeared. I'll try the new build asap.

[2020-05-06 02:40] benjamimgois commented on #60
It's a lot better now, but i still got segmentation fault after some time. Here is another log using the latest build.

https://pastebin.com/te2Fj44x

[2020-05-06 08:12] Dragon20C commented on #59
@medusalix I have made sure I have uninstalled the xow source version (Looks like I forgot to run the last command to delete the files) But now I am receiving a different error!

Here it is:
`2020-05-06 09:09:39 INFO  - xow  ©Severin v. W.
2020-05-06 09:09:39 INFO  - Waiting for device...
2020-05-06 09:09:39 ERROR - Error in control transfer: LIBUSB_ERROR_NO_DEVICE
2020-05-06 09:09:40 ERROR - Erro

[2020-05-06 10:40] medusalix commented on #60
Looks like another out-of-bounds case for the packets. I added a bunch of additional checks to the packet handling logic, please check if these fix your issue.

[2020-05-06 11:11] medusalix commented on #59
@Dragon20C I've merged the `signal` branch into `master` now. Please open a new issue regarding the error you are getting (it's apparently not really related to this issue).

[2020-05-06 11:11] #59 closed

[2020-05-06 20:50] x4mers opened #63 "Add $XOW_NAME or some other ENV to control stringname of controller"
Some badly programmed games do string searches to determine if a supported controller is connected. I noticed that Savant Ascent would never detect a controller while using Xow (or bluetooth for that matter), so I figured the game was broken. One day I plugged it in wired and the game worked fine. It all came down to the game looking for the phrase "X-Box" in the name string. Since all X-Box contr

[2020-05-07 02:33] benjamimgois commented on #60
@medusalix I made several testes today and it seems that the problem is solved. Thanks so much for the help ! Your work is awesome !

[2020-05-07 02:33] #60 closed

[2020-05-07 03:06] benjamimgois opened #64 "xow doesn't work with some native games"
Hey @medusalix, firstly thanks for the amazing project !

i don't know if this is a game bug or a xow bug, but i noticed 2 native linux games (**Brutal Legend** and **Borderlands 2**) with controller support where the joystick isn't recognized by the game while using "xow" and a wireless dongle, but works perfectly fine on USB. Another observation is that i can use the controller with xow if i run

[2020-05-07 07:58] andreashuetter commented on #63
I think that's a great idea!
So do you think the default string should be with a hyphen, or without one?
Which string is reported by the driver on Windows, I guess xow should report the same by default?
But being able to override the default by setting an environment variable sounds like a good idea.

[2020-05-07 08:19] andreashuetter commented on #64
Could this be the same issue described here: https://github.com/medusalix/xow/issues/63

[2020-05-07 10:15] medusalix commented on #63
Oh, I remember that from when I added dongle support to [360Controller](https://github.com/360Controller/360Controller) (macOS driver). The controller worked fine, but I literally couldn't find any game that accepted inputs from it because they **all** performed string comparison with the product name.

Yeah, I'm mostly trying to avoid issue like "dpad-up is mapped to dpad-down in game XY". I don'

[2020-05-07 13:33] benjamimgois commented on #64
Sure, it's the same issue. Should i close this one ?

[2020-05-07 13:40] x4mers commented on #64
I was going to install them to try with my build, but does this mean you already compiled with changed string for the controller and they now work?

[2020-05-07 13:43] benjamimgois commented on #64
no, i didn't... i though the issue could be managed in #63

[2020-05-07 13:54] x4mers commented on #63
That's the kind of issue Flamebreak was having until I changed the name. It would accept the controller, but the axes/buttons were wrong with some buttons sending the same signal as another, and the split axes triggers made it impossible to remap in game. Nice to hear you're open to it.

 I keep games with problems set in special categories (like broken controls on Linux) in Steam. Xpad neo does h

[2020-05-07 14:09] x4mers commented on #64
I'll check them out. It may be unrelated to #63. I have two other games found so far, that don't recognize a controller and are not fixed by #63. The 2 games are Geometry Wars 3, and Spec Ops the Line. They both wouldn't work regardless of what I set the string to. They both use SDL for input though and are fixed by using an ENV variable to tell the game the specifics of your controller, a list of

[2020-05-07 14:56] benjamimgois commented on #64
Ok, i'll check if i find this problem on other games.

[2020-05-07 18:19] x4mers commented on #64
Both Brutal Legends, and Borderlands 2 were ported to Linux by Aspyr, the same company that ported the GW3 game I mentioned above. They must be using the same code framework for all(?) their ports, and it does not involve string matching, so will not be fixable with #63.

 They are all using SDL mapping entries to add controller support. I guess they don't release patches to add in newer controlle

[2020-05-07 21:01] medusalix commented on #63
Do you think a simple environment flag to turn "Xbox One Wireless Controller" into "Microsoft X-Box 360 pad" would be enough to get xow working with all games that do string comparison (like a *360 compatibility mode*)?

[2020-05-07 22:29] x4mers commented on #63
It would seem so at this point, from the games I've tested so far. With the support that pad has on Steam, I think it makes a perfect candidate for a compatibility mode.

[2020-05-08 12:22] benjamimgois commented on #64
@x4mers i still couldn't test your solution, but will try it asap.

[2020-05-08 14:12] medusalix commented on #15
@LorenzoBianconi Could you comment on this issue?

[2020-05-08 14:20] medusalix commented on #44
Closing for lack of packet captures and hardware availability.

[2020-05-08 14:20] medusalix commented on #56
@mooock Any news?

[2020-05-08 14:23] mooock commented on #56
i have not had any disconnects after last time, it seems the thing you did with wifi channels fixed the problem.

[2020-05-08 14:37] medusalix commented on #64
@x4mers I just found [this](https://github.com/atar-axis/xpadneo/blob/7574862faeb60cfba03d804a70a5f1b007cc9b84/docs/SDL.md) article on xpadneo's page. Could you try adding `setup.id.version = 0xabcd;` to `InputDevice::create` instead of the SDL fix you mentioned above? That's how xpadneo fixed this issue.

[2020-05-08 15:23] x4mers commented on #64
That article deals with multiple entities (SDL,Wine,Steam client) all adding workarounds for mapping issues. When multiple of them are active at any time, they work to undo the fix of the other. The pad still works, but the mappings are all wrong.

 All four games mentioned in #64 (Geometry Wars 3, Spec Ops the Line, Borderlands 2, and Brutal Legend), do not detect that any pad is connected at all

[2020-05-08 16:25] x4mers commented on #64
Well, I went and tried it anyway. I added your line to input.cpp, recompiled and installed. I went and removed the SDL launch option from all 4 games discussed here, and tried them all. 3 out of the 4 now work fine, without any user intervention. Spec Ops the Line is the only one that still doesn't detect any controllers connected.

Before this change, running the controllermap utility resulted in

[2020-05-08 16:27] benjamimgois commented on #64
@x4mers i just found that "Dirt Rally" also have this problem, but the SDL_GAMECONTROLLERCONFIG="..." doesn't work for it.

[2020-05-08 16:58] x4mers commented on #64
Just tested it here, with a new build that includes the patch mentioned above by medusalix, and it works fine without the need of any SDL command line. All 3 games you've mentioned in this thread work fine without my SDL instructions once the patch mentioned above is pushed to the repo and you build an up to date release.

[2020-05-08 20:16] Neverest opened #65 "Debian package link showing error."
Since I am going to upgrade to 20.04 soon, I decided to check the debian package from the readme info, but it seems to not exist:

![image](https://user-images.githubusercontent.com/13340767/81445569-1dfc4900-9147-11ea-9f02-165cc0fea1ea.png)

Anything I did wrong or is missing?

[2020-05-08 20:31] medusalix commented on #65
It was apparently removed because the license of the `firmware.bin` file is still unclear (see [this](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=954876) issue on Debian's mailing list). I've requested a comment from MediaTek, but they didn't bother to answer (see #15).

[2020-05-09 01:10] x4mers commented on #15
I take it you've already looked at this, so I don't know if it's of any use, but the Linux package available on their Chinese site has source code in it, with firmware content. It may just be for the ones you said are incompatible though.

https://www.mediatek.cn/products/broadbandWifi/mt7612u

[2020-05-09 12:24] medusalix commented on #64
@x4mers I've pushed the changes to the `compatibility` branch. There's now a `XOW_COMPATIBILITY` environment variable that you can set to any value to activate the compatibility changes.

Another idea that came to my mind is that we could try setting the PID and VID to the actual values of a Xbox 360 controller (0x045e, 0x028e). Could that fix the problem with Spec Ops?

[2020-05-09 17:05] x4mers commented on #64
I take it this ENV is checked at the time the service is started, so a reboot or systemctl stop/start xow is required if it's been changed?

In Spec Ops logs, it shows that it goes thru a long list of GUID that are built into the game code. It then continues with any that are in a db file that is in the game directory. It seems the game's controller code is solely dependent on SDL map entries. Eve

[2020-05-09 17:31] medusalix commented on #64
Yes exactly. That's simply the way environment variables work, they are passed to the process on execution. Adding `Environment="XOW_COMPATIBILITY=1"` to the `[Service]` section in the systemd unit file should work (I'll document this in the README).

Ah, got it. So there's basically nothing we can do about this from xow's perspective. (BTW, I changed 0xabcd to 0xdead)

[2020-05-09 18:28] samueloph commented on #65
Yes, I had to ask for the removal because of the licensing issue, after that is solved it won't take much for the package to go back to the repositories, but for now we can't distribute it because it could cause issues for both Debian and upstream.

[2020-05-09 23:33] x4mers commented on #64
@medusalix  I've set up the compatibility branch build, but it seems to be ignoring the ENV. I added XOW_COMPATIBILITY=1 to /etc/environment to make it global, and rebooted. Echo $XOW_COMPATIBILITY returns a value of 1 whether logged in to my user account or with sudo su. Jstest and controllermap show that the controller name and GUID have not changed.  I tried sysytemctl stop/start xow as well, a

[2020-05-09 23:50] x4mers commented on #64
Just booted in to Windows, to run the X-Box accessories app, and according to it the firmware version is 4.8....., so xpad kernel driver is using that for the 08040000?

[2020-05-10 00:43] viggy96 opened #66 "Non-standard service file location"
/usr/etc/systemd/system/xow.service does not appear to be a location that systemd looks for service files. So when you try to run the service, systemd does not find the service file that the user is referring to. I believe that this issue occurs due to 3ce97b6.

[2020-05-10 05:41] x4mers commented on #66
Looking at the Makefile, the install script says xow.service should be installed to /lib/systemd/system.

That's where the script installed it to on my system.

[2020-05-10 09:48] medusalix commented on #66
I've read through `systemd`'s [documentation](https://www.freedesktop.org/software/systemd/man/systemd.unit.html#Unit%20File%20Load%20Path) and noticed that `/lib` (or `/usr/lib` for that matter) is actually reserved for *System units installed by the distribution package manager*, so I decided to change all paths to use `/etc` instead (which in my opinion makes more sense).
If I run `sudo make in

[2020-05-10 09:51] medusalix commented on #64
Yeah, makes sense. I didn't set the `version` field at all until now.

[2020-05-10 14:19] medusalix commented on #64
OK, so the value of the `version` field is now derived from the controller's major and minor firmware version if `XOW_COMPATIBILITY` is not set.

I added complete spoofing for the 360 controller in the latest commit. The GUIDs now look like this:

USB:						`030000005e040000ea02000008040000`
Wireless (normal):			`030000005e040000ea02000008040000`
Wireless (compatibility):   `030000005e0400008e0200

[2020-05-10 15:37] viggy96 commented on #66
@medusalix It was the PKGBUILD in the AUR that was the issue. Thanks for your help, and great work.

[2020-05-10 16:24] medusalix commented on #66
@viggy96 Ah, that explains why it worked fine for me. Sorry for the trouble caused.

[2020-05-10 16:24] #66 closed

[2020-05-10 20:13] x4mers commented on #64
Now that it's set, Dirt Rally, GW3, Brutal Legend and Borderlands2 all work fine without having to enable compatible mode.

 When launching Steam from the terminal, the initialization logging now shows a version number for the pad. It still shows the serial number as -0 and complains the pad has an invalid or missing serial number, but it seems to have no ill effect, and systemctl status xow shows

[2020-05-10 20:23] medusalix commented on #64
There's unfortunately no way for me to pass the serial number to `uinput` (really only VID, PID and version), so it's only logged to the console for now. Nothing wrong with Steam :smiley:.

Awesome! I'm just going to add some documentation to the README and service file and call it a day!

[2020-05-11 00:50] benjamimgois commented on #64
Hey guys , just tested the "compatibility" branch and every single problem i related here were solved. You guys rock ! Thanks !

[2020-05-11 00:50] #64 closed

[2020-05-11 13:53] medusalix commented on #63
I've merged the `compatibility` branch into `master`. Huge thanks to @x4mers for all the testing work!

[2020-05-11 13:53] #63 closed

[2020-05-11 19:44] medusalix commented on #58
Hi, sorry for my late reply, I was pretty busy with all the other issues that suddenly appeared. Can you post the logs of xow's service after one of the occasions where they don't connect? Please make sure you're running the latest version too.

[2020-05-11 19:47] mooock commented on #58
After the latest update with the wifi channel fix, i have not seen issues when booting as well. everything has really worked great out

[2020-05-11 20:01] medusalix commented on #58
That's great! I'm trying my best to make xow as reliable as possible :smiley:.

[2020-05-11 20:01] #58 closed

[2020-05-11 20:03] mooock commented on #58
I have also tested it with a new and old dongle, and elite and non elite

[2020-05-13 17:29] medusalix commented on #15
Yeah, unfortunately.

---

A quick update on the current situation: I wrote another mail to Sean Wang and his colleague Ryder Lee from a different email address and got a response:

![mail](https://user-images.githubusercontent.com/8124898/81844812-ef6bdd00-954f-11ea-9d02-15a2c267255e.png)

Let's see whether I'll be allowed to keep the firmware in this repository!

[2020-05-13 23:22] tristianc opened #67 "Is blacklisting `mt76x2u` necessary?"
I have both the Xbox One slim dongle and a USB 802.11ac [device](https://www.amazon.com/ASUS-USB-AC55-Dual-Band-Wireless-AC1300-Adapter/dp/B00Q6KRLUU) that uses the `mt76x2u` driver.

I run Fedora 32 with kernel 5.6.11.

I noticed after running xow's `make install` that my wireless dongle was completely disabled. Once I realized that the module was blacklisted, this behavior made sense.

I wanted

[2020-05-14 10:53] medusalix commented on #67
The reason for the blacklisting is that the `mt76` driver causes issue for people using the older bulky dongle (see #14). There seems to be a race condition where both the `mt76` driver and xow try to access the dongle at the same time which causes xow to terminate.
This issue originally only affected users of the older dongle, but it was only a matter of time until the `mt76` developers would add

[2020-05-14 12:00] Neverest opened #68 "Getting a "Error in control transfer: LIBUSB_ERROR_TIMEOUT" after pairing in Windows"
I installed the latest version of xow and paired fine. However when I boot to Windows it doesn't pair unless I remove and insert the dongle and start pairing again.

If I then go back to my linux hard drive I can't connect my xbox one controller. The dongle doesn't light up and removing it and inserting it does nothing. Debug logs show one `Error in control transfer:LIBUSB_ERROR_IO ` and a lot of

[2020-05-14 17:15] tristianc commented on #67
Thank you for the background. I started looking around for a solution and found [this](https://lwn.net/Articles/143397/).

I am thinking that instead of blacklisting the whole module, xow could unbind the Xbox dongles from the mt76x2u drivers.

Individual devices can be unbound from the kernel module that's used to handle them. In order to unbind a device from a module, you need the USB device's b

[2020-05-14 17:59] medusalix commented on #67
Definitely. I'm not sure if it'll work though. As far as I know, libusb includes `libusb_set_auto_detach_kernel_driver` which I've tried to add to xow in a previous version and it unfortunately didn't solve the problem. I haven't tried the manually detaching the driver with `libusb_detach_kernel_driver` though.
The call to `libusb_reset_device` in `usb.cpp` might also be problematic, since that mi

[2020-05-14 18:43] medusalix commented on #68
I don't think there's anything I can do in this case. The problem probably lies in the dongle's firmware, as both the Windows driver and xow are malfunctioning.

[2020-05-15 10:42] medusalix commented on #56
@mooock I've just pushed a change that should read the power values for the wireless channels from the dongle's internal memory (they are actually different for every dongle out there). I'd like to make sure that everything still works correctly without any disconnects, so I'd really appreciate if you could give this another try :smiley:.

[2020-05-16 10:50] Neverest commented on #68
Hmm, I think I faintly remember using previous versions and not getting this error. How can I download versions 0.40,  0.30 and maybe lower?

[2020-05-16 13:09] medusalix commented on #68
If you downloaded the project with `git clone` you can do `git checkout v0.4` to get to version 0.4 (and `v0.3` for 0.3, etc...).
I remember adding a firmware reset in case the firmware was already loaded (which works in exactly the same way as the Windows driver) to prevent issues when rebooting from Windows to Linux (see commit a35977eaada7b6cf8191e47e9f6bf5473b9ee18a).

[2020-05-16 14:39] medusalix commented on #68
I just tried out versions 0.3 and 0.4 and they both show the same issue. I fired up Wireshark and it looks like the dongle doesn't accept any commands at all after going from Windows to Linux or vice versa.

[2020-05-16 17:44] Neverest commented on #68
So I gave it a try and 0.3 connected, but that was cause the dongle and the controller kept being on even when restarting.

With 0.4 they connected fine without me having to unplug the dongle for it to work for about 2 linux to windows restart laps. Then it started having problems connecting.

Debug log showed as if the controller kept connecting and creating new controller entries:

[code]
`
a359

[2020-05-16 18:14] medusalix commented on #68
It's definitely related to the dongle and not the driver. See this USB capture of the Windows driver after using the dongle on Linux:

![captures](https://user-images.githubusercontent.com/8124898/82126952-70291400-97b0-11ea-954b-3e59e5cc196c.png)

The two rather large `URB_BULK out` transfers (14408 bytes) are part of the firmware upload process. The Windows driver resets the dongle and tries to

[2020-05-17 13:31] nkoester commented on #56
I also experimented with the latest version and can happily report that all scenarios I tested (1 - 4 controllers on a single stick) work flawlessly. No disconnects, no problems. Thanks so much!

PS. in some tests the controllers were simply out of battery, which I notice only after way too long. Maybe some form of indication could be implemented showing that the battery is empty? A LED flashing p

[2020-05-17 15:10] mooock commented on #56
I am happy that you had the time to look into this issue, most other forums has not been as helpful as you, and mostly you only see people ask questions then help out or do their own findings for troubleshooting.

I will say this version is on par with the windows experience.

[2020-05-18 10:45] medusalix commented on #67
I've just tried using the `openwrt/mt76` driver (which includes the device ids for the newer dongle) and xow at the same time and this is what happens (dmesg):

[code]

Now that I can reliably reproduce this issue, I'll see if I can find a workaround.

[2020-05-18 14:22] medusalix commented on #67
@tristianc Summary so far:

- `libusb_set_auto_detach_kernel_driver` doesn't work at all, xow can't configure the device
- `libusb_detach_kernel_driver` does its job, but xow is unable to reset the dongle's firmware leading to a timeout
- `ATTR{authorized}="0"` (udev) doesn't prevent the `mt76` driver from binding to the dongle

But I think I've found a much better solution: Replace the contents o

[2020-05-18 19:35] medusalix commented on #56
Thanks for the kind words, I'm very glad that it's working fine :smiley:.

Yeah, I really want to implement a standardized solution for battery reporting rather than LED patterns, but the progress on that issue has unfortunately come to a halt.

[2020-05-18 19:35] #56 closed

[2020-05-18 19:38] mooock commented on #56
For me i have never cared about battery level, i have a good idea of when to change battery, and if they die on me, in the middle of action. i get a quick workout of running after new batteries.

[2020-05-19 07:54] nkoester commented on #56
Unfortunately, my controllers do not seem to run out of battery at once but rather (for several days) miss inputs or do not hold a button when pressed continuously before finally turning off completely. I feel like missing inputs is really bad and any feedback to the users could avoid the issue of "did i miss to press the button? is the controller broken?"

I saw your efforts for a standardized so

[2020-05-20 11:43] medusalix commented on #56
I'm currently trying to make xow behave as similar to the Windows driver as possible, while keeping the amount of configuration options low. Ideally, I'd like to expose the LEDs, the battery status and various other stuff via a D-Bus interface. That would allow you to write simple Python scripts to control xow's behavior.

[2020-05-20 20:24] medusalix commented on #68
I've implemented timeouts for the firmware loading, so that should at least allow you to restart the service in case it times out. Apart from that, there's unfortunately not much I can do.

[2020-05-20 20:24] #68 closed

[2020-05-20 21:34] Nathorr opened #70 "Error in installation if p7zip-full is not installed"
I got the following error when installing:

7z x driver.cab FW_ACC_00U.bin > /dev/null
/bin/sh: 1: 7z: not found
make: *** [Makefile:36: firmware.bin] Error 127

I didn't have p7zip-full installed as it is not installed in Raspbian Buster by default. Solved after installing p7zip-full.

p7zip-full should be added to the prerequisites list.

[2020-05-21 06:57] dodgypast commented on #70
On arch I have p7zip installed, but still getting the same error

[2020-05-21 10:39] medusalix commented on #70
Good catch :+1:. I originally assumed that `7zip` came preinstalled with most Linux distributions. As that's apparently not the case, I have now switched to `cabextract` and added it to the list of prerequisites (together with `curl`). These tools are fortunately only required once for the firmware download and extraction, so you can remove them afterwards.

[2020-05-21 10:39] #70 closed

[2020-05-21 20:58] Tourman36 opened #71 "xow driver crashed mid-game"
I'm running Manjaro 5.4.40-1 release and while playing Shadow of Mordor my controller suddenly became unpaired. The only way to restore connectivity is to `systemctl stop xow`, unplug usb dongle and then plug back in dongle.

I'm using a 2019 Xbox One Elite controller.

`May 21 16:50:01 dcass-lnx-desktop systemd-coredump[13145]: Process 13138 (xow) of user 64499 dumped core.

[2020-05-22 01:52] tristianc commented on #67
This worked for me while using the slim dongle. My aforementioned wireless dongle still remains active when the new blacklist file is available at boot.

[2020-05-22 01:52] #67 closed

[2020-05-22 23:47] dave-atron opened #72 "Unit file xow.service does not exist."
On the newest build when I try to start the service I get the error in the title. I noticed the service file does not have 0755 permissions by default, so even after manually adding those the service still does not start. It is created correctly in /etc/systemd/system

The above is true even after rebooting the computer.

I am on Fedora 32. I was really enjoying this project before I upgraded it s

[2020-05-23 10:22] medusalix commented on #72
The command `systemd-analyze unit-paths` should give you a list of paths where systemd searches for service files. Is `/etc/systemd/system` included in that list?

[2020-05-23 10:38] medusalix commented on #71
Are you running the latest version of xow? If you are, I'm going to need a full stacktrace with line numbers: Disable the systemd service and run xow manually with `valgrind ./xow` until it crashes.

[2020-05-23 19:09] dave-atron commented on #72
Yes, `/etc/systemd/system` is included in the list.

[2020-05-23 19:39] medusalix commented on #72
Have you tried running `sudo make uninstall` followed by `sudo make install` and `sudo systemctl enable xow` to completely reinstall the service? What is the output of `sudo systemctl status xow`?

[2020-05-23 19:55] dave-atron commented on #72
Here's my output of that sequence:

`sudo make uninstall
[sudo] password for dave:
rm -f /usr/local/bin/xow
rm -f /etc/udev/rules.d/99-xow.rules
rm -f /etc/modules-load.d/xow-uinput.conf
rm -f /etc/modprobe.d/xow-blacklist.conf
rm -f /etc/systemd/system/xow.service
[dave@sevastopol xow]$ sudo make install
sed 's|#BINDIR#|/usr/local/bin|' install/service.in > xow.service
install -D -m 755 xow /usr/

[2020-05-23 20:23] medusalix commented on #72
What happens when you name that service `xow.service`? Does that still work fine?

[2020-05-23 20:33] dave-atron commented on #72
Good call. Although previous attempts to check the status of xow showed that the unit file was not found, renaming my test service revealed that systemd is getting permission denied when it tries to read the file for some reason. Don't mind the different path, I was trying to see if using a soft link instead of it being in the physical location would make a difference.

`● xow.service - Runs /usr/

[2020-05-23 20:38] medusalix commented on #72
Are you running `systemctl` without `sudo`? You definitely need `sudo` for things like `systemctl start xow`.

[2020-05-23 20:58] dave-atron commented on #72
Oh I am, my terminal prompts me for a password if I forget to type sudo.

[2020-05-23 21:24] medusalix commented on #72
What happens when you try to run the test script (as `xow.service`) from `/lib/systemd/system`? Does that work?

[2020-05-23 22:51] dave-atron commented on #72
My test service worked from /`lib/systemd/system/xow.service`, but moving xow's `xow.service` to `/lib` made no difference. Just now I was able to create a unit file and copy the contents of xow's `xow.service` into it, and that worked fine. I've also just renamed my latest test unit file to `xow.service` and that seems to be working.

I can also confirm on a different computer running Fedora 32 t

[2020-05-23 23:53] dave-atron commented on #72
I figured out the problem (I think). For some reason, when `xow.service` gets created it does not get the correct SELinux type. It should be receiving `"system_u:object_r:systemd_unit_file_t:s0"` for its context but instead is getting `"system_u:object_r:default_t:s0"`. As soon as I corrected that the service worked.

Adding the following lines to the makefile seems to take care of it ahead of tim

[2020-05-24 10:16] medusalix commented on #72
I just tried to reproduce this by installing xow on a live image of Fedora 32 with SELinux enabled. This is the output of `ls -Z /etc/systemd/system/*.service` after running `sudo make install`:

[code]

`sudo systemctl enable xow` leads to this:

[code]

I'm able to install xow just fine.

[2020-05-24 10:23] medusalix opened #73 "Git history has been rewritten"
You might have noticed that the usual `git pull` from this repository doesn't work anymore. If you run into `fatal: refusing to merge unrelated histories` or similar errors, this is the issue you are looking for.
Licensing related problems have brought me into the unpleasant situation of having to do a full Git history rewrite. I know this will inevitably cause trouble for people who have cloned t

[2020-05-24 10:23] #73 closed

[2020-05-24 12:12] Neverest commented on #15
Don't know if its relevant, but they are adding support for MT76x2 on linux kernel 5.8.

https://git.kernel.org/pub/scm/linux/kernel/git/kvalo/wireless-drivers-next.git/commit/?id=eda31200e68d38fbb974e7ad02bcc2de2cfe6863

[2020-05-24 13:51] NoXPhasma opened #74 "xow fails with "Failed to load firmware" on latest HEAD"
When I clone the latest HEAD, build and install xow, it won't start due to not being able to load the firmware:
[code]

The firmware blob has been successfully downloaded at the make process.

[2020-05-24 14:47] dave-atron commented on #72
That works perfectly!

It's really weird that I had the issue on two computers and you didn't, and SELinux applying incorrectly doesn't seem to be a super common issue. Not really sure how to troubleshoot my issue at this point. However, I appreciate your help, and I've learned a ton from this experience.

[2020-05-24 14:56] medusalix commented on #74
Does your `dmesg` show anything related to the `mt76` driver? I've recently updated the blacklist for that thing, maybe that's causing this issue?

[2020-05-24 15:01] medusalix commented on #72
Yeah, me neither :smile:.

[2020-05-24 15:01] #72 closed

[2020-05-24 16:11] NoXPhasma commented on #74
There is nothing about mt76 in the dmesg. When I go back to 2fc09761f3b2f5739f4568fd868f6f86cae5e34b then there is no error but it also can't initialize the device, as it hangs on:
[code]

[2020-05-24 16:33] medusalix commented on #74
Very strange. I don't think I've made any changes to the firmware loading process since version 0.4. You aren't dual-booting between Windows and Linux or running multiple instances of xow, are you?

[2020-05-24 16:36] NoXPhasma commented on #74
I don't dual boot and there is no other instance running. If there is any other xow process running, i get the to expect error about busy USB device:
[code]

[2020-05-24 16:39] medusalix commented on #74
Can you pinpoint the exact commit where the problem was introduced? I don't have any other clues right now...

[2020-05-24 16:40] NoXPhasma commented on #74
I will try to bisect it tomorrow.

[2020-05-25 00:26] GloriousEggroll commented on #74
I was just hitting this. Unplugging and replugging the device then restarting the service allowed it to work correctly

[2020-05-25 07:02] NoXPhasma commented on #74
You are right, I just needed to unplug and replug the dongle and now it works. And it seems that now it works reliable. Any idea what could cause this?

[2020-05-25 07:24] NoXPhasma commented on #74
The hint of @GloriousEggroll about repluggin the device helped me to find out that 2fc09761f3b2f5739f4568fd868f6f86cae5e34b actually works. And the issue I had in https://github.com/medusalix/xow/issues/74#issuecomment-633253708 was solved by replugging the dongle.

So the issue definitely starts after that commit.

[2020-05-25 08:38] NoXPhasma commented on #74
It seems that only the last commit has introduced this issue, as even a1fa00a6 works fine for me.

[2020-05-25 08:53] NoXPhasma commented on #74
Okay, this is hard to get pinned down to the exact commit, as it introduces hard to reproduce behaviour. Like it works with 35075586, but when restarting it several times it will fail eventually.

[2020-05-25 09:39] medusalix commented on #74
This sentence is a perfect summary of what developing this driver feels like :smile:.
I'm wondering whether completely removing the firmware reset might work. Try [this patch](https://github.com/medusalix/xow/files/4676386/fw.txt) on HEAD.

[2020-05-25 10:02] NoXPhasma commented on #74
Okay, the patch works for the firmware issue. But introduced 2 different issues:

First issue is that the dongle won't accept any new connections after 2 service restarts. Until I replugin the device.

The second is much more serious, as it kills my USB devices until a reboot:
DMESG:
[code]
xow:
[code]

[2020-05-25 10:16] medusalix commented on #74
Oh wow, I didn't imagine this would break your whole USB stack. I guess `git revert`-ing commit f9d03b1ff98878ce655557529711acdf1e1151c0 is probably the best choice. Don't ask me why it fails after several restarts though (was that also introduced by a recent commit?).

[2020-05-25 10:20] NoXPhasma commented on #74
It's hard to say, I think I've hit that USB issue before with xow, when using git a few weeks ago. I then went back to 0.4 and never happened again. I wasn't entirely sure back then it was xow but now I'm 100% certain.

I completely forgot about that but I think it's not really part of this patch right now but has been introduced since 0.4 at some point.

[2020-05-25 10:29] NoXPhasma commented on #74
For the restart issue, that doesn't happen on 0.4 and 2fc09761 at all. I can restart the service as often as I want and it still accepts connections. If it has been introduced on master by this patch is impossible to me to say, as it doesn't work reliable without it.

[2020-05-25 10:36] NoXPhasma commented on #74
About the USB stack issue, it happened when I was playing a game with a friend, which is why I just reverted to 0.4 and didn't have done a major thought about it, as we just wanted to play. However, point why I mention that is, that this must have happened before the 10th of May as that was the last time I played it. I hope that might help to find the causing commit.

[2020-05-25 10:42] medusalix commented on #74
So commit f9d03b1ff98878ce655557529711acdf1e1151c0 is the only culprit for the firmware issue? I can't reproduce any of these issues, so I'll need your confirmation for that one.

[2020-05-25 10:48] NoXPhasma commented on #74
Yes indeed, that commit introduced that issue, going back just one more commit (2fc09761) doesn't have that issue.

[2020-05-25 10:52] medusalix commented on #74
OK, I've reverted that one.
Can you reliably trigger that USB stack issue? I'm asking because the first commit that came to my mind would be 7f755b5b4a8d70b9564326b81ce5d25f3e4cefbf, where I rewrote the USB implementation.

[2020-05-25 10:56] NoXPhasma commented on #74
Sadly I can not. When it happened a few wees ago, it happened several times after playing a while. Suddenly the Gamepad lost connection and my mouse didn't worked anymore. Was probably just "luck" that it happened this time that early.

And that commit came into my mind as well. It fits in the time frame and also is about USB implementation.

[2020-05-25 10:59] NoXPhasma commented on #74
I pulled the latest master and firmware issue is gone.

[2020-05-25 11:04] medusalix commented on #74
Awesome. I'm wondering whether it could be a bug in the driver of your USB controller that got triggered by xow. I'm just speculating here, it's usually xow's fault :smile:.

[2020-05-25 11:08] NoXPhasma commented on #74
It's not impossible but very unlikely as it never happened before in several years as I have this board. It only started once I used the git a few weeks ago and after I reverted to 0.4 it never happened again. And it only came back today with xow git again.

[2020-05-25 11:12] medusalix commented on #74
Well, I'm closing this one now. Make sure to open an issue if you hit that bug again.

[2020-05-25 11:12] #74 closed

[2020-05-25 19:57] dsiggi opened #75 "Ebuild for gentoo"
Hi,
first of all thank you for your great work. Finally I can use my controller under linux wireless.

I write an ebuild for gentoo linux. Feel free to link it in your README.

[https://github.com/dsiggi/dsiggis-gentoo-overlay/tree/master/games-util/xow](https://github.com/dsiggi/dsiggis-gentoo-overlay/tree/master/games-util/xow)

[2020-05-25 20:40] NoXPhasma opened #76 "xow crashes and kills my USB stack after a while"
As already reported in https://github.com/medusalix/xow/issues/74#issuecomment-633491834, xow crashes and kills my USB stack and only can be recovered by a reboot. I was able to pin down commit https://github.com/medusalix/xow/commit/7f755b5b4a8d70b9564326b81ce5d25f3e4cefbf as the offender. Any commit before that doesn't crash even after several hours of running.

xow log:
[code]
dmesg:
[code]

[2020-05-25 20:43] medusalix commented on #75
Thanks. I've added it to the README.

[2020-05-25 20:43] #75 closed

[2020-05-25 20:51] medusalix commented on #76
I think it's very interesting that the `ERROR unknown event type 15` from `xhci_hcd` seems to happen before xow gets the `LIBUSB_ERROR_NO_DEVICE` from `libusb`. I'll have to investigate...

[2020-05-26 10:06] medusalix commented on #76
OK, there are multiple things worth checking out (individually):

- Plugging the dongle into a USB 2.0 port or disabling xHCI in the BIOS/UEFI to make all USB 3.0 ports fall back to 2.0
- Completely disabling USB autosuspend (see [this](https://unix.stackexchange.com/a/175035), should also work on Manjaro)
- Enabling libusb debug logging for xow (set environment variable `LIBUSB_DEBUG=4`). Might g

[2020-05-26 10:16] NoXPhasma commented on #76
On [my board](https://www.asus.com/us/Motherboards/PRIME-X370-PRO/specifications/) is an ASMedia USB 3.1 controller and the USB hub on which the dongle is connected, is on that 3.1 port. I will try to use a different USB 3 port (non ASMedia). I have no USB 2 ports on my motherboard, only on the front panel, which I would like not to use. Disabling USB 3.0 is no option as I need that for other devi

[2020-05-26 11:55] NoXPhasma commented on #76
Using a different USB 3 port _seems_ to fix it. In 1.5 hours of constant connection there was no crash yet. I will try more and report back tomorrow.

[2020-05-27 12:35] NoXPhasma commented on #76
Since I use a different USB 3 port I couldn't reproduce that issue anymore. I would say it's fixed on my end. But still wonder why it suddenly started to happen with that mentioned commit.

[2020-05-27 16:24] laurinneff commented on #4
I just found xow today and would like to try out the experimental support. I'm unable to find the audio branch though. Why did you remove it?

[2020-05-27 17:33] medusalix commented on #4
@laurinneff The `audio` branch had the same licensing-related issues as the `master` branch, so I decided to remove it for now. I also ported some changes from `audio` to `master`, so the branches started to drift away from each other.
I plan on incorporating the feedback I got for an `audio2` branch in the future after fixing some of the issues mentioned in earlier comments. I hope you understand

[2020-05-27 17:35] laurinneff commented on #4
@medusalix alright, I understand. Hope I can try it out again soon

[2020-05-27 17:41] medusalix commented on #76
Yeah, me too. Strangely enough, the `libfreenect2` project had the exact same issue with ASMedia controllers, although the Kinect actually requires USB 3.0. It may be related to some unusual thing both projects do with regards to USB devices which triggers some edge-case in the ASMedia driver? Like the timeout I mentioned earlier?

[2020-05-27 18:04] NoXPhasma commented on #76
So it's most probably a driver issue and not xow. I'll close the issue then and if it ever happened again, on a non ASMedia controller, I'll answer to it.

[2020-05-27 18:04] #76 closed

[2020-05-28 12:28] medusalix commented on #41
Please give the `rumble` branch a try.
I've decided to pass the rumble's `length` and `delay` parameters directly to the controller which should work better for games that support it. Most games don't specify the `length` value at all, so we fall back to the maximum duration in that case.
While testing the force feedback in various games, I've noticed that the controller sometimes refuses to stop

[2020-05-28 12:42] NoXPhasma commented on #41
In SteamWorld Dig 2 it still rumbles pretty long.

[code]

[2020-05-28 14:31] medusalix commented on #41
It doesn't look like you're playing the same game based on your logs. I'm seeing a constant duration of 65535 whereas your original post had much smaller length values in the range of 100 to 200. There must be something else going on.

[2020-05-28 15:33] NoXPhasma commented on #41
I've noticed that as well, but it's the same game. And there was [no update to the game](https://steamdb.info/app/571310/history/) in the meantime. I'll try if different versions of xow are the cause for the different duration.

[2020-05-28 16:18] NoXPhasma commented on #41
Turns out it was a combination of native runtime and Steam Controller API enabled which caused that high duration time. Enabling Steam runtime and disabling Steam Controller API brought the 200 duration back and the `rumble` branch works then.

[2020-05-28 17:43] ekpyron opened #77 "controller not in `libinput list-devices` and no libinput udev "device added" events."
While ``libinput record`` shows the controller correctly as:
[code]
``libinput list-devices`` does not list the device.

Generally, apparently a libinput udev context will not receive ``LIBINPUT_EVENT_DEVICE_ADDED`` events for the controller.

I'm not sure if this is an udev or libinput issue - any ideas why this is the case?

[2020-05-28 18:06] medusalix commented on #77
According to [this](https://gitlab.freedesktop.org/libinput/libinput/-/issues/255) issue, it doesn't seem like gamepads are supported by `libinput`.

[2020-05-28 18:12] ekpyron commented on #77
Ok, thank you - I just read through the source code of ``libinput record`` and apparently it doesn't actually only use ``libinput``, but falls back to ``libevdev``, which apparently does support gamepads (since ``libinput record`` does show proper controller events and they have to be coming from somewhere).
I actually intended to use a libinput udev context to watch for a gamepad to be hotplugged

[2020-05-28 18:12] #77 closed

[2020-05-28 19:34] medusalix commented on #41
Alright, thanks for testing. Merge into `master`.

[2020-05-28 19:34] #41 closed

[2020-05-28 19:35] medusalix commented on #71
@Tourman36 Any news regarding this issue?

[2020-05-28 19:54] Tourman36 commented on #71
I haven't had a crash since. No idea what caused it.

[2020-05-28 19:54] #71 closed

[2020-05-28 20:26] loligans opened #78 "How to explicitly turn off the controller?"
When I am not using my controller, how can I explicitly turn it off. I tried holding down the middle button for 4 seconds. Is there something else I need to do?

I am trying to save battery life.

[2020-05-28 20:30] medusalix commented on #78
Yep, that's how you turn it off. You press the button until the light turns off.

[2020-05-29 21:59] laurinneff opened #79 "Raspbian Buster: When running as a systemd service, a permission denied error occurs"
Hardware:
Raspberry Pi 3 Model B v1.2
Raspbian Buster
Controller model 1708

When I'm running xow manually as root, xow works perfectly fine, however if I'm running it with the systemd unit, I get this error whenever I connect a controller:
[code]

[2020-05-30 10:52] medusalix commented on #79
Sounds similar to issue #62. Either way, you'll have to figure out why the `udev` rules aren't applied as noted in the README.

[2020-05-30 10:52] #78 closed

[2020-05-30 12:17] medusalix commented on #57
Can you do some A/B tests with Linux (latest version of xow) and Windows where you use the *exact* same setup (USB port, dongle position, etc...) to compare the range of both systems?

[2020-05-30 13:49] laurinneff commented on #79
Thanks, that was the same issue as I had. If anyone finds this, in /lib/udev/rules.d/56-steamlink.rules, I changed both instances of 0660 to 0666

[2020-05-30 13:49] #79 closed

[2020-05-31 17:57] thewoza commented on #57
Sure, I'll get back to you when I've had a chance but I'd say the range under Linux has definitely improved.

Although now I'm experiencing random dropouts - this may have also been happening at the same time as the range issues. The controller sometimes just drops connection when in same place as it's been working fine for 5 to 10 minutes.

Thanks

[2020-06-04 15:45] Yajo opened #80 "Accept rpm instructions?"
Hi. I have built a RPM for fedora. Would you accept a PR to produce the rpm packages as artifacts here in github when doing a release?

I don't think fedora will let us package this because they seem to refuse kernel modules.

[2020-06-04 16:47] #80 closed

[2020-06-05 03:53] HailstoneRyan opened #82 "Controllers Disconnecting When xow Run as Service"
Just installed xow onto my new Raspberry pi and couldn't get my controllers to stay connected for more than 5 seconds. I rebuilt using debug and ran it from the command line as opposed to as a service and voila, my controllers remained connected. Logs of when it worked below. I'm novice when it comes to Linux so not sure where I can get the logs from xow when its run as service on a pi.

2020-06-0

[2020-06-05 16:26] medusalix commented on #82
Did you reboot your system after installing xow? You can get the service's logs by running `sudo journalctl -b -u xow`.

[2020-06-05 16:35] HailstoneRyan commented on #82
Yep, rebooted after installing.

Here's the logs from it running as a service.

Jun 05 12:33:47 raspberrypi xow[346]: 2020-06-05 12:33:47 INFO  - xow v0.5 ©Severin v. W.
Jun 05 12:33:47 raspberrypi xow[346]: 2020-06-05 12:33:47 INFO  - Waiting for device...
Jun 05 12:33:47 raspberrypi xow[346]: 2020-06-05 12:33:47 DEBUG - Opening device...
Jun 05 12:33:47 raspberrypi xow[346]: 2020-06-05 12:33:47

[2020-06-05 16:42] medusalix commented on #82
Ah, you're probably running into a known issue with the built-in `udev` rules. [This](https://github.com/medusalix/xow/issues/62#issuecomment-622460953) comment will help.

[2020-06-05 16:46] HailstoneRyan commented on #82
Yes, that did it!

[2020-06-05 16:46] #82 closed

[2020-06-06 14:49] medusalix commented on #6
Unfortunately, it doesn't look like the `upower` project is currently being maintained by anyone. While looking through their open issues and merge requests, it seems like the authors reject even the simplest changes that would lead to an improvement of `upower`. I seriously doubt they would even accept a PR for an integration with xow.
Therefore, I've decided to add support for **desktop notifica

[2020-06-08 03:14] trymeouteh opened #84 "Ubuntu PPA"
Please create a PPA for Ubuntu based distros

[2020-06-08 14:00] cristianovitorino commented on #6
@medusalix Does it use `notify-send`? Can it use `notify-send`?

[2020-06-08 14:13] medusalix commented on #6
It does exactly the same things `notify-send` would do, but implemented internally by calling the notifications API directly.

[2020-06-08 14:17] cristianovitorino commented on #6
I use [Dunst](https://dunst-project.org/) to get my notifications, usually from `notify-send`. Do you think it will work with your implementation? I can't test it right now.

[2020-06-08 14:20] medusalix commented on #6
Yes, absolutely. Anything that adheres to Gnome's [Desktop Notifications Specification](https://developer.gnome.org/notification-spec/) should work (not limited to Gnome).

[2020-06-08 14:21] cristianovitorino commented on #6
Awesome! Thanks!

[2020-06-08 21:40] elmehalawi opened #85 "Controller disconnects after a few seconds"
I installed xow on my Fedora 32 computer, and the controller connects and I can actually use it for a few seconds before it disconnects. Unfortunately, I don't really see much useful output. Here are the logs when I run xow:

[code]

I built xow with `make BUILD=DEBUG` to try to get more logs. I had also tried `RELEASE` earlier with the same result.

BTW, amazing project! Last time I tried to use